[2014-07-11 07:00] TheCloneMaster opened #1 "[purchase_discount] missing __init__.py inside of models directory"
Hi,

After updating directory structure on this module, it now needs **init**.py inside of models doing import of purchase_discount

Still lacking on git skill, so I still don't know how to do the MP to fix this...

[2014-07-11 07:14] pedrobaeza commented on #1
See:
https://github.com/OCA/purchase-workflow/pull/2
https://github.com/OCA/purchase-workflow/pull/3
for the corresponding patches.

[2014-07-11 07:34] TheCloneMaster opened #4 "[purchase_discount] missing trailing parenthesis and "digits_compute" on purchase_discount.py line 43"
Line 43 in purchase_discount.py should change from

[code]

to

[code]

[2014-07-11 08:43] TheCloneMaster opened #5 "[purchase_discount] missing "view/" path to xml views in __openerp__.py lines #45 and #46"
Lines #45 and #46 on **openerp**.py should change from

[code]

to

[code]

[2014-07-11 09:00] TheCloneMaster commented on #1
Thanks my friend.  I will take some time next week  to learn the git way, so I can propose the fix directly...

[2014-07-11 09:06] pedrobaeza commented on #1
I don't understand why the module seems half completed. I was the one that proposed its inclussion, and it was working when I did it. Maybe some files not comitted?

Regards.

[2014-07-11 10:54] pedrobaeza commented on #1
I have issued all fixes in the same PR.

Thanks.

[2014-07-11 10:55] pedrobaeza commented on #5
See #2 and #3 for the corresponding patches.

Please review it.

[2014-07-11 10:57] pedrobaeza commented on #4
See #2 and #3 for the corresponding patches.

Please review it.

[2014-07-11 17:38] TheCloneMaster commented on #4
Hi Pedro,

Thanks for your follow up.

Just one still missing on line #43....    digits_compute=
or else it will try to use given parameter as digits, that expects a
tuple...

Regards,
-Mario

On Fri, Jul 11, 2014 at 4:57 AM, Pedro M. Baeza notifications@github.com
wrote:

[2014-07-12 10:58] pedrobaeza commented on #4
Done! Please approve it and I'll proceed with the merge.

[2014-07-14 03:13] #1 closed, assigned to pedrobaeza

[2014-08-14 11:23] yvaucher opened #14 "Missing labels *needs fixing* and *needs review*"
Read OCA/maintainers-tools#29 to know more about it

[2014-08-14 13:40] #14 closed, assigned to nobody

[2014-08-22 15:24] guewen commented on #4
The PR are merged.

[2014-08-22 15:24] #4 closed, assigned to nobody

[2014-09-07 15:40] npiganeau opened #18 "[framework_agreement] Simple framework agreement conflict with warning module"
Hi,

On version 7.0, installing both framework_agreement and warning modules break openerp as both modules modify "onchange_product_id" and "onchange_partner_id" functions: It complains that 16 arguments are provided instead of 15 defined in onchange_product_id (respectively 6 instead of 5 defined in onchange_partner_id)

When framework_agreement module is installed after warning module, it works

[2014-09-08 07:19] guewen commented on #18
Hi,

They can be modified to use `web_context_tunnel`: https://github.com/OCA/server-tools/tree/7.0/web_context_tunnel

[2014-09-26 14:02] lepistone opened #20 "7.0: possible conflict in test run"
The 7.0 test run breaks because it does not find an `onchange`. I haven't investigated further, but the error message

https://travis-ci.org/OCA/purchase-workflow/jobs/31600334#L1125

appears in the tests for `purchase_landed_costs`, but the it mentions `framework_agreement`. The modules do not depend on each other.

At a first grance this could be a real incompatibility between the two, or it cou

[2014-09-26 15:01] gurneyalex commented on #20
I think the culprit is `yaml_import.py`. I've split the tests of framework_agreement out in #21 It clears this problem, but the `purchase_landed_costs` tests are red (#22)

[2014-09-26 15:04] gurneyalex opened #22 "purchase_landed_costs are red in 7.0"

[2014-10-06 03:49] #5 closed, assigned to nobody

[2014-10-16 17:21] alexis-via opened #29 "purchase_partial_invoice: purchase line removed from "Invoice control > On Purchase Order Lines" when Invoice is validated"
I am experiencing this bug with v8, but, when looking at the code, it seems to be the same on v7. Here is the scenario to reproduce it:
1) install purchase_partial_invoice
2) Create a new PO with 1 PO line quantity 10 and set Invoicing Control = 'Based on Purchase Order lines'
3) validate the PO
4) Go to Invoice Control > On Purchase Order Lines
Select the purchase order line, start the wizard "Cr

[2014-10-16 17:25] pedrobaeza commented on #29
It seems very similar to the one I found on sale_order_partial_invoice, that marks _invoiced_ flag that way. You can check it here if it helps:

https://github.com/OCA/account-invoicing/pull/8

[2014-10-16 20:40] alexis-via commented on #29
I made the test with OpenERP 7: the bug is exactly the same.

According to the MP on LP https://code.launchpad.net/~elbati/purchase-wkfl/adding_purchase_partial_invoicing_7/+merge/167065 this  module was accepted for OpenERP 7. So, this would mean that this module has NEVER worked :-( I hope I am wrong...

@eLBati What's your point of view on this ?

[2014-10-16 22:48] pedrobaeza commented on #29
When I tested, it was working fine, so I think it's a change on the core in the way invoiced flag is treated, because it happened the same with the partial invoicing in sale.

[2014-10-17 07:11] alexis-via commented on #29
Maybe the best solution to this would be to propose this feature to the core (at least for v9). When you look at the code of the module, it's pretty simple... and the biggest part of the code of this module consist in calling super() which writes 'True' on the 'invoiced' field, and then re-writing 'False' on the 'invoiced' field ! If we want to fix this bug, we would have to do the same with the f

[2014-10-17 07:35] eLBati commented on #29
Hello @alexis-via I think the bug was born after the commit
https://github.com/odoo/odoo/commit/a701934ac79a32cb534ff768190c1a444b2f8544

Before that, the PO lines were set to `invoiced` after invoice creation. After that commit, after invoice validation.

So, the lines

[code]

of `purchase_partial_invoicing/wizard/po_line_invoice.py`
are now unnecessary and should be moved to invoice_validate.

[2014-10-21 12:04] lepistone opened #31 "framework_agreement: should enable group for pricelists by supplier"
The configuration for this module is under pricelists/supplier. To show this menuitem, we need to be in group "pricelists by supplier".

It is probably a good idea to add the dependency on purchase/user when installing framework_agreement.

[2014-11-05 17:31] yvaucher opened #52 "framework agreement - get_cheapest_agreement_for_qty fails on sort"
https://github.com/OCA/purchase-workflow/blob/8.0/framework_agreement/model/framework_agreement.py#L427

This return a record set. `sort()` won't work on it.

This raises AttributeError: 'framework.agreement' object has no attribute 'sort' when playing with some onchanges from `vertical-ngo/framework_agreement_sourcing`

[2014-11-05 18:17] yvaucher opened #54 "framwork_agreement - agreement line in pricelist must be mandatory"
[code]

This required doesn't work as on O2m need to add a constraint

[2014-11-06 17:21] lepistone opened #56 "[8.0] purchase_rfq_bid_workflow v8: changing picking type sets destination location to customer"
To reproduce:
- create a RFQ
- change the picking type (labeled "Deliver to") to "Chicago"

With the module `purchase_rfq_bid_workflow` installed, that changes immediately the destination location to "customers". That does not make sense: we are delivering to the (internal) Chicago Warehouse.

This problem is caused by a chained onchange, and because of odoo/odoo#3503 my attempt to show that with

[2014-11-07 10:59] #56 closed, assigned to nobody

[2014-11-07 14:24] lepistone opened #58 "purchase_auto_rfq_bid_selection: restricted tender creates bids, should create rfqs instead"
Installing this module the functionality of purchase_requisition_bid_selection gets inverted.
(it creates rfqs instead of bids and vice versa).

[2014-11-09 10:56] #52 closed, assigned to nobody

[2014-11-11 10:43] #58 closed, assigned to nobody

[2014-11-28 12:40] yvaucher opened #67 "purchase_requisition_bid_selection - Cancelling Purchase requisition raise an error"
When clicking on cancel on a Purchase Requisition in state `Draft`

[code]

[2015-01-08 08:19] ybofr opened #79 "purchase_requisition_multicurrency & purchase_requisition_bid_selecton: Both modules declare "price list" and add it to the view of purchase.requisition"
Hi,

I'm new to the module. So there are two fields with the same description and no field help to explain what is the difference between the two fields.

[2015-01-08 08:21] ybofr opened #80 "purchase_requisition_multicurrency: Cannot enter a bid in foreign currency"
The system does not allow me to enter a bid in a foreign currency.

I have 2 purchase price lists. one in use and one in euro. When I choose my usd price list in my bid (created via a call for bid), the system automatically changes it in EUR, not letting me enter the price in USD.

Thanks for help

[2015-01-08 08:46] ybofr opened #81 "purchase_requisition_bid_selection: Confusion in the naming of the button"
This is the description of the functionality: "First, a list of products is established. The call for bid is then confirmed and RFQs can be generated. They are in the state 'Draft RFQ' until sent to the supplier and then marked as 'RFQ Sent'. The bids have to be encoded and moved to state 'Bid Encoded'. When closing the call for bids, in order to start the bids selection, all RFQ that have not bee

[2015-01-08 08:59] pedrobaeza commented on #81
I don't see any problem. The description says: _The bids have to be encoded and moved to state 'Bid Encoded'_ and thus, the button is _Encode bid_. Anyways, this is standard Odoo, so if you find any other problem related, you have to publish the issue on Odoo itself.

[2015-01-08 09:34] ybofr commented on #81
No, the problem is that in the standard Odoo, there is a button called "request a quotation". This button kind of disappear when this module is installed, leaving only "encode bid" button there. There is a difference between standard Odoo and this module.
So the term "encode bid" is not found in Odoo V8, only in this OCA module.
But, at the start of the process, you want first to request a quotati

[2015-01-08 10:27] pedrobaeza commented on #79
Where? Which module?

[2015-01-08 10:28] pedrobaeza commented on #80
You have to indicate the module in the title, because each repo can contain more than one module.

[2015-01-08 10:29] pedrobaeza commented on #81
OK, I see, can you please edit the title to indicate in which module is happening the issue?

[2015-01-08 11:53] ybofr commented on #80
Done. Sorry, I thought it was under the module name.

Thanks for the advice

[2015-01-08 11:55] ybofr commented on #81
Done

[2015-01-08 15:27] yvaucher commented on #79
@ybofr The module purchase_requisition_multicurrency adds a field pricelist_id on purchase_requisition but I'm not aware of a second field with same name. Can you provide a print screen and tell if you have installed any other module that could also add this field?

[2015-01-08 15:45] yvaucher commented on #80
@ybofr Are you trying to change currency field ? This is a uneditable field as it is related to pricelist.

I guess you do not see the field pricelist on bid because you need to enable
`Settings/Configuration/Purchases -> Manage pricelist per supplier`

[2015-01-08 15:51] ybofr commented on #79
We have installed the following modules:
1. purchase_requisition_bid_selection
2. /purchase_requisition_multicurrency
3. /purchase_partner_invoice_method
4./purchase_rfq_bid_workflow

Screenshot attached
![calls_for_bids_-_odoo](https://cloud.githubusercontent.com/assets/7601880/5665123/15d68b62-974e-11e4-998c-7f5af417acae.png)

[2015-01-08 15:59] ybofr commented on #80
No, I see the field pricelist. The problem is, I have a pricelist in ANG and the system forces the bid currency USD, thus preventing me to use any other currency.
Sceenshot attached
![1 requests_for_quotation_-_odoo](https://cloud.githubusercontent.com/assets/7601880/5665279/3a3cb46c-974f-11e4-96a7-605b5312cbb2.png)

[2015-01-08 16:38] yvaucher commented on #80
I see it might be an issue with pricelist onchange changing value of a readonly field.

Is you field currency_id editable?

After having tried `purchase_requisition_multicurrency` on last OCA/OCB I can tell onchange is working fine.
I think this issue comes from another module setting currency_id readonly.

What is the list of addons you use to extend purchase order?

[2015-01-08 16:40] yvaucher commented on #79
Ok got it.

https://github.com/OCA/purchase-workflow/blob/8.0/purchase_requisition_multicurrency/view/purchase_requisition.xml#L12
https://github.com/OCA/purchase-workflow/blob/8.0/purchase_requisition_bid_selection/view/purchase_requisition.xml#L35

purchase_requisition_bid_selection also adds pricelist_id on purchase.requisition.

This is an uncompatibility between the two modules.

[2015-01-08 16:56] ybofr commented on #80
We have installed the following modules:
1. purchase_requisition_bid_selection
2. /purchase_requisition_multicurrency
3. /purchase_partner_invoice_method
4./purchase_rfq_bid_workflow

[2015-01-08 17:26] yvaucher commented on #80
I just tried it on runbot and this bug seems present on official modules

I created the following issue:
https://github.com/odoo/odoo/issues/4598

You might want to complete it.

Thus I close this bug report.

[2015-01-08 17:26] #80 closed, assigned to nobody

[2015-01-09 16:46] rdeheele opened #82 "purchase_group_hooks: merge fails if first po has no origin"
If you try to merge two POs with a first that has no origin,
the traceback occurs:

<pre>
  File "/home/rdeheele/machines/openerp_dev/parts/server/addons/web/session.py", line 89, in send
    return openerp.netsvc.dispatch_rpc(service_name, method, args)
  File "/home/rdeheele/machines/openerp_dev/parts/server/openerp/netsvc.py", line 296, in dispatch_rpc
    result = ExportService.getService(serv

[2015-01-20 20:58] JordiBForgeFlow opened #85 "[7.0] 'product_by_supplier' Error in name_search function"
At the time of searching for a product the following error appears:

  File "/home/jordi/openerp70/openerp70/odoo/openerp/netsvc.py", line 296, in dispatch_rpc
    result = ExportService.getService(service_name).dispatch(method, params)
  File "/home/jordi/openerp70/openerp70/odoo/openerp/service/web_services.py", line 632, in dispatch
    res = fn(db, uid, _params)
  File "/home/jordi/openerp70/o

[2015-01-20 20:59] pedrobaeza commented on #85
Can you propose a PR?

[2015-01-21 15:14] yvaucher commented on #82
fixed with https://github.com/OCA/purchase-workflow/commit/1ca2a3217c3d9fa18fe911b586c4fba4af7d6afc

[2015-01-21 15:14] #82 closed, assigned to nobody

[2015-01-22 17:17] yvaucher commented on #85
Fixed by #86

[2015-01-22 17:17] #85 closed, assigned to nobody

[2015-01-29 16:45] lepistone commented on #80
@ybofr I think #88 addresses the problem. I think a similar fix can be done for the core purchase module.

[2015-02-05 07:41] gurneyalex commented on #81
@ybofr this is by design of this addon. You have a button to generate a bid when your purchase requisition is in call for bid mode "Closed", in which case you can select the suppliers you want to ask a bid from and generate a call for bid. In "Open" mode, it is assumed that you are publishing your tender on a public platform and you will receive bids from suppliers that you will indeed encode.

[2015-02-05 07:41] #81 closed, assigned to nobody

[2015-02-05 07:47] gurneyalex commented on #20
closing the issue, keeping #22

[2015-02-05 07:47] #20 closed, assigned to nobody

[2015-02-05 11:48] JordiBForgeFlow commented on #29
Hi @alexis-via, I believe that my PR fully fixes the issue. It is in 7.0, but should be pretty simple to port it to 8.0.

[2015-02-05 14:06] #67 closed, assigned to yvaucher

[2015-02-06 08:59] petrus-v opened #94 "purchase_rfq_bid_workflow: on change quantity on sale.order.line"
Hi,

Using purchase_rfq_bid_workflow module, at the end of the RFQ that convert it to a draft purchase order, that's is really cool! thanks for that!

I wonder if it's wanted or an issue, when I change the quantity of the product, the onchange method calls it's parent wich reset the unit price that came from the RFQ ?

regards,

[2015-02-06 14:58] petrus-v opened #95 "purchase_requisition_bid_selection: Bids selection I guess `.name` missing somewhere!"
Test on v8 only

Using the module purchase_requisition_bid_selection, when selecting products line (click on "Choose product line" in call for bids form). On the grouped line it's display "product.product(4,)" instead the name_get() result.

[2015-02-06 16:45] petrus-v opened #97 "purchase_requisition_bid_selection: Bids selection with unmatched quantity"
Test on v8 only.

In the module `purchase_requisition_bid_selection` when we choose a different quantity as mentioned on the bid (because our supplier won't sale so few products for example) the following message appear which is great::

[code]

The user get the choice to confirm the differences or to cancel. I think there is a bug when the user confirm, because the bid state still "Bids selection

[2015-02-07 19:39] yvaucher commented on #95
I confirm this issue. Thanks for reporting it

[2015-02-08 18:56] petrus-v commented on #95
With pleasure, as you van see I made PR#98 to fix it.

Regards,

[2015-02-09 11:18] yvaucher commented on #95
(@petrus-v a github tip just write #98 to make a link to your pr)

[2015-02-09 11:20] #95 closed, assigned to nobody

[2015-02-09 11:24] petrus-v commented on #95
@yvaucher thanks for the tip!

[2015-03-18 17:05] #97 closed, assigned to lepistone

[2015-03-18 17:47] petrus-v commented on #97
Great! thanks for the fix.

[2015-03-26 14:17] antoniocanovas opened #115 "Discount doesn't goes to the invoice if odoo v8 is configured as invoicing based to incoming shipments."
When Settings => Purchases => Default invoicing control method => is set to "Based to incoming shipments", the discount is set to "0" in the invoice.

In other configurations ("order purchases" or "order lines") it runs ok.

Thank you.

[2015-04-03 19:00] pedrobaeza commented on #115
Antonio, you can check #119 for a proper fix.

[2015-04-07 12:17] #79 closed, assigned to yvaucher

[2015-04-08 16:16] yvaucher opened #122 "purchase_discount - apps name conflict"
Module purchase_discount for series 8.0 belongs to another repository: https://github.com/Vauxoo/addons-vauxoo.git#8.0

@hbto Isn't your version an older one? Can we make this one the reference on apps ?

[2015-04-10 12:03] yvaucher commented on #29
I remove 7.0 tag as #91 fixed it

[2015-04-10 12:21] JordiBForgeFlow opened #123 "Restrict configuration aspects of an app"
Hello!

After fixing a real mess caused by users with Manager that created new units of measure by mistake, I am thinking to restrict some objects, to be changeable only by a specific group for each app.

The concept is that the differences between the typical groups 'User' and 'Manager' are limited to have better visibility, extra functions (such as advanced reports), or the permission to perform

[2015-04-10 18:08] pedrobaeza commented on #123
I prefer to disable quick create options with this module: https://github.com/OCA/web/tree/8.0/web_m2x_options.

[2015-04-10 19:45] JordiBForgeFlow commented on #123
But then you have to apply this change on every many2one field of every view of every module, right? Because as far as I can see, by default if you don't set it explicitly, this module will not affect the current behaviour.

Regards,
Jordi

[2015-04-10 19:50] pedrobaeza commented on #123
Please see https://github.com/OCA/web/tree/8.0/web_m2x_options#irconfig_parameter-options.

[2015-04-11 06:05] JordiBForgeFlow commented on #123
Aha! Very nice indeed.  I was looking at version 7.0 of web_m2x_options, and this functionality is not available in that version. I will then port it from 8.0 to 7.0.

[2015-04-22 09:20] adrienpeiffer commented on #29
Corrections in #91 integreted on the port #108 ! Thanks !

[2015-04-22 10:52] #29 closed, assigned to nobody

[2015-04-24 08:34] #115 closed, assigned to pedrobaeza

[2015-05-11 14:59] houssine78 opened #133 "purchase_reqisition_multicurrency add pricelist but not access right to user purchage requisition"
the module purchase_reqisition_multicurrency adds the pricelist to the purchase requisition but not the access right to simple user of purchage requisition. Which make the simple user unable to create a call for bids.

this it what the user get when trying to save the call for bids and obviously and I don't wanna set the user as manager.

"AccessError

Sorry, you are not allowed to modify this doc

[2015-05-20 17:01] yvaucher commented on #133
By simple user, you mean Purchase User right ?

[2015-05-20 19:14] houssine78 commented on #133
yes that's it!

[2015-05-21 07:36] yvaucher commented on #133
Can you do the PR to add a security file such as https://raw.githubusercontent.com/OCA/purchase-workflow/8.0/framework_agreement/security/ir.model.access.csv ?

[2015-05-21 12:30] houssine78 commented on #133
@yvaucher the problem is that I don't want to give write access on pricelist to the group user purchase. As far I see the group only need read access which it's already granted to.

[2015-06-23 08:50] jaronemo opened #148 "purchase_order_revision...issue question"
cancel purchase order.Number: PO1505050001
click new resvision button...show error..

![image](https://cloud.githubusercontent.com/assets/8476734/8302276/ce79f8c4-19c7-11e5-87d7-9cb11e92196f.png)

and odoo server log ...

![image](https://cloud.githubusercontent.com/assets/8476734/8302293/ecfe9732-19c7-11e5-9fd3-ef57d1b58ab7.png)

[2015-06-23 15:42] pedrobaeza commented on #148
This is due to there's no post-install script to assign `unrevisioned_name` field on existing purchase orders. @gurneyalex, @eLBati, can you check it?

[2015-06-23 17:31] eLBati commented on #148
@jaronemo I can't generate the error on a new DB. Could you provide the steps to reproduce it?

@gurneyalex however, I found a problem with `unrevisioned_name` as pointed out by https://github.com/OCA/purchase-workflow/pull/149: `unrevisioned_name` is always False. How is it supposed to be set?

[2015-06-24 02:47] jaronemo commented on #148
Dear sir

![image](https://cloud.githubusercontent.com/assets/8476734/8321814/4d0d7d3c-1a5e-11e5-82ad-6edfcd658554.png)

![image](https://cloud.githubusercontent.com/assets/8476734/8321817/6b4f23cc-1a5e-11e5-8667-3c5dacd23968.png)

UPDATE "purchase_order" SET "name"='False-01',"revision_number"=1 ... ==> Think this is the problem from any orders.

runing test yaml.....

![image](https://cloud.gith

[2015-06-24 20:07] gurneyalex commented on #148
@jaronemo I thing #151 may fix your issue (but you will need to manually update you database fix the `False` unrevisionned_name columns.

Do you confirm?

[2015-06-25 01:50] jaronemo commented on #148
Dear Sir
1. uninstall purchase_order_revision module
2.  openerp-server -c /etc/odoo-server.conf -u all --stop-after-init -d DB
3. install purchase_order_revision
module is this:
![image](https://cloud.githubusercontent.com/assets/8476734/8345322/eed7f66c-1b1f-11e5-95b0-bb051d5e3626.png)

![image](https://cloud.githubusercontent.com/assets/8476734/8345278/3ebcb268-1b1f-11e5-98a7-715d60b1fd3b.png)

[2015-06-25 09:47] eLBati commented on #148
@jaronemo are you able to generate the error on a new DB? Could you provide the steps to reproduce it?

[2015-06-25 14:43] jaronemo commented on #148
OK!...I wii do it..!

now..i re-create database name is purchase_test.
step1:
![image](https://cloud.githubusercontent.com/assets/8476734/8358514/2f940952-1b93-11e5-91a0-b1e29cc619c2.png)

step2: (cancel PO00006 Order)
![image](https://cloud.githubusercontent.com/assets/8476734/8358535/4c988870-1b93-11e5-8271-a5ea8d5ff6b4.png)

step3: (error)

![image](https://cloud.githubusercontent.com/assets/84

[2015-06-29 16:29] eLBati commented on #148
@jaronemo it seems your are not using @gurneyalex's fix (https://github.com/OCA/purchase-workflow/pull/151).
Please try with `gurneyalex:8.0-fix_purchase_order_revision` branch or at http://3109713-151-296756.runbot1.odoo-community.org/

[2015-06-30 02:49] jaronemo commented on #148
Dear Sir...

I'm sure I've replaced the code
I even re-create a new demo database (Purchase_Test)
It remains the same.

![image](https://cloud.githubusercontent.com/assets/8476734/8423000/682e009e-1f15-11e5-94d0-6e30d6f844f5.png)

I linked to the location you provided to test, but also the problem occurred. Although not like me wrong.
![image](https://cloud.githubusercontent.com/assets/8476734/842

[2015-07-01 09:20] eLBati commented on #148
Just tried on http://3109713-151-296756.runbot1.odoo-community.org/ (DB `3109713-151-296756-base`) the steps
- Created new PO `PO00009`
- Canceled it
- Clicked on 'new revision' (system created `PO00009-01`)
- Canceled and clicked 'new revision' again (system created `PO00009-02`)
- Confirmed `PO00009-02`

So, I am not able to reproduce the problem

[2015-07-01 15:58] jaronemo commented on #148
Dear Sir..

Sorry..
follow url ..test...
cancel PO00006
clicked on 'new revision' (create false-01..is ok)
cancel PO00002
click ed on 'new revision' (failed...error...please look picture)
![image](https://cloud.githubusercontent.com/assets/8476734/8458956/a0519872-204c-11e5-9946-52d2d2a6a96e.png)

tried on
![image](https://cloud.githubusercontent.com/assets/8476734/8459007/ee65c1f0-204c-11e5-9b8c-

[2015-07-08 07:49] nmoturi opened #156 "purchase_landed_costs"
Purchase landed costs doesn't seem to be working on latest V7 addons. When the purchase landed costs are added in the PO and the incoming shipments are processed, the stock journals are being created with the costs not including landed costs. However the same works on previous V7 addons.

[2015-07-31 08:50] lepistone commented on #156
I don't know the module, but the tests of the module fail. They were not being run by travis for a while, for a bug that is now fixed.

I wonder whether we want to disable the module until someone that is interested fixes it.

[2015-09-09 17:26] thomasklosinsky opened #181 "product_by_supplier - add stock info column?"
Hi there,
is there any way to get product stock info to this view?
I tried several things in the view.xml but keep getting errors of field not available...

Best,
Thomas

[2015-09-09 17:37] pedrobaeza commented on #181
Because the object is not the correct. You have to make a related field to product_tmpl_id field. Anyway, the stock is by template, not by variant.

[2015-09-09 17:37] #181 closed, assigned to nobody

[2015-09-14 19:06] thomasklosinsky opened #182 "product_by_supplier - weird mandatory field "product" added in supplier edit/add view on product edit"
When product_by_supplier installed the overview is nice and useful, but there is a field added when editing or adding a products supplier named "product". A little weird since I am editing a product which the supplier would be for.
Also very uncomfortable, when adding a new product and selecting the supplier I can't select the corresponding product because it's not listed yet.
This field makes no

[2015-09-17 04:14] jaronemo opened #184 "purchase_order_reorder_lines....Can't get sequence number"
Dear Sir

![image](https://cloud.githubusercontent.com/assets/8476734/9924805/9597513a-5d35-11e5-8882-4dfee50a5d78.png)

[2015-09-17 07:43] pedrobaeza commented on #184
See https://github.com/OCA/purchase-workflow/pull/179 for the solution

[2015-09-17 07:43] #184 closed, assigned to nobody

[2015-09-18 06:24] eLBati opened #187 "purchase_discount: tests failing"
https://travis-ci.org/OCA/purchase-workflow/jobs/80804713

[2015-09-18 13:36] #187 closed, assigned to pedrobaeza

[2015-09-23 19:02] thomasklosinsky commented on #182
No error anymore when deleting

[code]

from product_supplierinfo_view.xml

[2015-09-23 19:02] #182 closed, assigned to nobody

[2015-10-14 00:33] pedrobaeza opened #193 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [ ] framework_agreement
- [ ] mrp_smart_purchase
- [ ] procurement_batch_generator #204
- [x] product_by_supplier - By @leemannd - #282
- [ ] product_supplierinfo_discount - By @jweste - #272
- [ ] purchase_all_shipments
- [ ] purchase_analytic_global #228
- [ ] purchase_delivery_address
- [ ] purc

[2015-11-03 21:02] thomasklosinsky opened #194 "VCI workflow: POS order lines?"
What about POS order lines?
How can I include these in the whole product ownership workflow?

Wouldn't it be easier to have the product owner directly saved in the product and start the workflow from there and not from the order lines?

???

[2015-11-20 11:50] jesusVMayor opened #197 "Purchase_discount broken"
In the commit 276e53bda35ac7d88e1d0cada154365495819fa8 the module was broken, the columns amount_total, price_subtotal  are not affected by discount.

cc @pedrobaeza

[2015-11-20 11:55] pedrobaeza commented on #197
Please update your Odoo code. This is now done by hooks in the core code.

[2015-11-20 11:55] #197 closed, assigned to nobody

[2015-12-07 10:39] OpenCode opened #199 "[8.0] [purchase_order_reorder_lines] Error when creatring new purchase order"
I'm trying to create a new purchase order and i have that error: ValueError: max() arg is an empty sequence.

File "/home/...../purchase-workflow/purchase_order_reorder_lines/purchase.py", line 71, in _get_max_line_sequence
    max(purchase.mapped('order_line.sequence')) + 10
ValueError: max() arg is an empty sequence

[2015-12-07 10:42] pedrobaeza commented on #199
That was fixed on https://github.com/OCA/purchase-workflow/commit/ef98e7ff550ef92ad6ab88e7ffbb4d5e71a96f34. Please update your code.

[2015-12-07 10:42] #199 closed, assigned to nobody

[2016-01-05 08:14] jaronemo opened #202 "purchase_order_revision can't working ..on purchase order..partner id same."
Dear Sir:
push this purchase order (PO1601040017)
![image](https://cloud.githubusercontent.com/assets/8476734/12110431/0e432a90-b3c7-11e5-99a3-f89355991b7f.png)

This is odoo log print.
![image](https://cloud.githubusercontent.com/assets/8476734/12110402/d548c70e-b3c6-11e5-93a4-5d63202eb5f7.png)

I dont' know .. WHY?

So..i search purchase order ..from partner...
i get this order...
![image](https

[2016-01-08 10:37] eLBati commented on #202
Hello @jaronemo , can you provide the steps to generate the problem on a new database?

[2016-01-12 17:08] jaronemo commented on #202
Hi....@eLbati....
Thanks for your reply.

Follow the following sequence of operations
1.create purchase order ..maybe: PO00001
2.confirm purchase order
3. cancle this purchase order .name: PO00001
4.new revision ....then create new purhcase order  name i s PO00001-1
5.cancel this purchase order name PO00001-1
6.more->duplicate
7.new purchase order create...name is PO00002
8. confirm this order PO0

[2016-02-12 15:39] eLBati commented on #202
Thank you @jaronemo , please see PR https://github.com/OCA/purchase-workflow/pull/210 should fix the problem

[2016-02-26 07:57] #202 closed, assigned to nobody

[2016-04-04 08:00] pedrobaeza commented on #148
This is solved in the linked merged PR, so I close.

[2016-04-04 08:00] #148 closed, assigned to nobody

[2016-04-04 08:01] pedrobaeza commented on #133
Is this solved?

[2016-04-04 08:03] pedrobaeza commented on #123
The option is implemented already, and this is now not related to this repo. I close.

[2016-04-04 08:03] #123 closed, assigned to nobody

[2016-04-04 08:05] pedrobaeza commented on #94
I don't think that's a feature, but any of the creators of the module can tell. @gurneyalex, I think you was one of them. Can you answer?

[2016-04-04 08:07] pedrobaeza commented on #54
@yvaucher, have you made something to solve this?

[2016-04-04 08:07] pedrobaeza commented on #31
Have you made something with this?

[2016-04-04 08:09] pedrobaeza commented on #18
Any news on this?

[2016-04-04 08:12] pedrobaeza commented on #122
This is now solved if you see https://www.odoo.com/apps/modules/8.0/purchase_discount/, so I close

[2016-04-04 08:12] #122 closed, assigned to nobody

[2016-04-05 08:00] yvaucher commented on #54
@pedrobaeza nothing done yet on this but the bug is still present.

[2016-04-05 21:30] gurneyalex commented on #94
@jgrandguillaume @lepistone I don't remember if this is the intended behavior. Can you share an insight?

[2016-05-03 10:26] P4R opened #226 "[purchase_discount] Wrong cost price in product"
Hi,
When we select "Average Price" in the costing method of product it's calculated using the field price_unit of stock.move that was generated by purchase order.
This should be fixed for calculate cost price including the discount.

Regards,

[2016-05-10 10:41] Garamotte opened #227 "Lost return value"
I'm grepping community addons to search for a bug I found in the base module.

There is one occurence of this bug in this repository :
https://github.com/OCA/purchase-workflow/blob/8.0/purchase_requisition_multicurrency/model/purchase_requisition.py#L73

See my PR on Odoo : https://github.com/odoo/odoo/pull/11985

[2016-05-10 13:58] yvaucher commented on #193
Added port of account_analytic_global (from 7.0]

[2016-05-26 09:15] JonathanNEMRY opened #232 "[MIG] From 8.0 to 9.0 - Purchase Request modules"

[2016-07-01 12:28] JonathanNEMRY opened #243 "Translate Purchase modules"
What's the best way to translate some purchase modules? I've requested to join team on transiflex, is it the best solution or maybe I just have to make a PR with .po?

Thanks!

cc @pedrobaeza, @jbeficent

[2016-07-01 12:35] JordiBForgeFlow commented on #243
@JonathanNEMRY I'm not familiar with Transifex, so I'll wait and listen on this one ;)

[2016-08-10 08:04] JordiBForgeFlow commented on #232
@JonathanNEMRY @sbidoul. We're going to make a sprint this week to port to v9. @aheficent will then follow up on any review comments during the following weeks.

[2016-08-10 08:21] sbidoul commented on #232
Great news! We'll test and review as soon as you have pushed something. cc/ @adrienpeiffer @chrisdec

[2016-08-10 09:34] JonathanNEMRY commented on #232
Thanks for the new! I'll follow it very closely

[2016-08-10 09:43] JordiBForgeFlow opened #255 "[8.0][purchase_request] Ability to approve items from a purchase request"
We have identified a use case by which purchasing wants to be able to decide what items they want to approve for further purchasing (create RFQ or Bid).

SAP uses a similar approach in their Purchase Requisitions. See:
http://web.mit.edu/sapweb/PS1/help/reqs_approve.shtml

What we propose is to introduce a flag 'Approved' in purchase request lines.

Then, have a wizard to approve purchase request

[2016-08-10 13:08] sbidoul commented on #255
cc/ @chrisdec

[2016-08-10 13:34] chrisdec commented on #255
Hi Jordi,

To be sure I well understand : the goal of this is to manage partial approbation of purchase requests?

Because, there is already a state on purchase request lines which is equal to the state of the linked purchase request. So, add this flag allows to have a purchase request line with a different state than the state of the linked purchase request, exact?

Thanks in advance for the answ

[2016-08-10 13:46] JordiBForgeFlow commented on #255
Yes. Imagine that I create a purchase request as follows:
- 1 Pencil
- 2 Rubbers

When the purchasing department reviews the request,  might find that there are already 2 rubbers in the warehouse, and so they are not truly needed, or perhaps the rubbers are not approved for purchase, put the pencil is acceptable.

Now I find that purchasing may find that 1 out of 20 items on a purchase request sho

[2016-08-10 14:20] sbidoul commented on #255
@jbeficent interesting idea. It makes sense to me.

What then would be states of the Purchase Request and Purchase Request Line respectively?

[2016-08-10 15:11] JordiBForgeFlow commented on #255
@sbidoul Currently the purchase request has the following states:
_STATES = [
    ('draft', 'Draft'),
    ('to_approve', 'To be approved'),
    ('approved', 'Approved'),
    ('rejected', 'Rejected')
]
See: https://github.com/OCA/purchase-workflow/blob/8.0/purchase_request/models/purchase_request.py#L8

The purchase request lines has a field "request_state" that is related to the request status:

[2016-08-22 10:50] jonerikceberio opened #265 "Purchase discount not taken into account in the purchase report"
The module purchase_discount does not overwrite the view of the purchase.report, and therefore the discount is not taken into account into the price.
purchase_report.py, line 99
sum(l.price_unit/cr.rate*l.product_qty)::decimal(16,2) as price_total,

[2016-08-22 11:25] pedrobaeza commented on #265
Please make the PR amending this.

[2016-08-27 18:22] pedrobaeza commented on #226
Do you have the code for solving this? Maybe you can make a PR.

[2016-09-07 11:21] P4R commented on #226
@pedrobaeza I only found the solve overwriting this method of model stock.move, but this method is also overwirited in module purchase_variant_cost

[code]

[2016-09-07 11:25] pedrobaeza commented on #226
What about overwriting the method that returns the `price_unit` field?

[2016-09-07 11:37] P4R commented on #226
@pedrobaeza What method?

[2016-09-07 11:43] pedrobaeza commented on #226
There's a `get_price_unit` or similar in some place

[2016-09-07 13:25] P4R commented on #226
@pedrobaeza  `get_price_unit price` method is used to store unit price on the quant, but this method is not used to update `standard_price`.

[2016-09-07 15:58] pedrobaeza commented on #226
OK, I was talking by memory. Anyway, it's something I can't explore now and I'm not affected, so I'm afraid you're on your own here.

[2016-09-16 15:48] jweste commented on #193
Hi, I will have a look into product_supplierinfo_discount.

[2016-09-16 21:37] pedrobaeza commented on #193
@jweste, assigned in the main description

[2016-09-28 15:10] sbidoul opened #275 "[purchase_request] mutliple PR of the same product by different users"
When several users do each a purchase request for the same product, and these requests are grouped in the same purchase order, they end up in the same purchase order line.

After that the tracking is not individualized per purchase request.

For example:
- user A does a PR for qty 1
- user B does a PR for qty 2
- both are grouped in the same RFQ line for a quantity of 3
- the field quantity in RFQ

[2016-09-28 15:15] JordiBForgeFlow commented on #275
I'm aware of this. And think that it would be good to improve. Now sure how.

Wow do you decide who to notify when you receive 1 unit of the 3? User A or
user B?

El 28 sept. 2016 5:11 p. m., "Stéphane Bidoul (ACSONE)" <
notifications@github.com> escribió:

[2016-10-06 14:06] pedrobaeza opened #279 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [ ] framework_agreement
- [ ] mrp_smart_purchase
- [ ] procurement_batch_generator - By @alexis-via - #483
- [x] procurement_purchase_no_grouping - By @sergio-teruel - #448
- [x] product_by_supplier - By @lreficent - #361
- [x] product_supplierinfo_discount - By @stefanrijnhart - #407
- [ ] purcha

[2016-10-12 09:03] leemannd commented on #193
@pedrobaeza Hello, you'll find a port of the product_by_supplier in [this PR](https://github.com/OCA/purchase-workflow/pull/282)

[2016-10-14 01:29] andhit-r opened #283 "[purchase_request] Non-required field on purchase.request.line"
Any technical reason why _name_ or _product_id_ on purchase.request.line is not required? It seems strange if user can add data without both fields.

Thanks is advance.

cc: @jbeficent @aheficent

[2016-11-07 12:02] legalsylvain opened #298 "product_supplierinfo_discount improvment"
hi,

I just saw that this great module was ported in V9.0.

I was thinking to add an extra feature on res.partner. A new field named 'global_discount', that could be the default value on the product supplier info, when created.
What do you think about such feature ?

thanks.

CC @pedrobaeza, @JonathanNEMRY

[2016-11-07 12:09] JonathanNEMRY commented on #298
Hello @legalsylvain
I am not sure about the fields' name but the default value appears to me as a good idea :+1:

[2016-11-07 15:40] legalsylvain commented on #298
Ok, thanks for your feedback ! I'll do that. What about :
- supplier_discount
- recurring_discount

regards.

[2016-11-07 16:26] JonathanNEMRY commented on #298
`recurring_discount` sounds good to me :smiley:

[2016-11-08 10:17] ibaren opened #299 "cannot aprove the request"
Hi, i trying to approve a requests but i can´t. I use the runboot.

[2016-11-08 10:23] JordiBForgeFlow commented on #299
Hi!

Have you assigned the user to the role "Purchase request / Manager"? This is the only group that can approve.

[2016-11-08 10:25] ibaren commented on #299
Ok, thanks !!!!!!!

[2016-11-08 10:27] #299 closed, assigned to nobody

[2016-11-09 08:29] pedrobaeza commented on #232
Closing this issue as PR has been done.

[2016-11-09 08:29] #232 closed, assigned to nobody

[2016-11-09 08:30] pedrobaeza commented on #243
The best solution indeed is to use Transifex: https://www.transifex.com/oca/OCA-purchase-workflow-9-0/dashboard/

[2016-11-09 08:30] #243 closed, assigned to nobody

[2016-11-09 08:32] pedrobaeza commented on #255
Is there something to do with this issue or can we close it?

[2016-11-09 08:33] pedrobaeza commented on #194
I don't get the relation of this with the purchase-workflow repository

[2016-11-09 08:36] pedrobaeza commented on #298
Better to be called `default_supplierinfo_discount`. I made something similar with a default discount on sales, but making the view totally inheritable: https://github.com/OCA/partner-contact/blob/9.0/partner_default_sale_discount/models/sale_order.py#L18

[2016-11-09 08:36] pedrobaeza commented on #18
Closing due to inactivity

[2016-11-09 08:36] #18 closed, assigned to nobody

[2016-11-09 08:38] pedrobaeza commented on #22
I think this is not going to be fixed, so I close.

[2016-11-09 08:38] #22 closed, assigned to nobody

[2016-11-09 08:38] pedrobaeza commented on #31
Closing due to inactivity

[2016-11-09 08:38] #31 closed, assigned to lepistone

[2016-11-09 08:38] pedrobaeza commented on #54
Closing due to inactivity

[2016-11-09 08:38] #54 closed, assigned to nobody

[2016-11-09 08:38] pedrobaeza commented on #94
Closing due to inactivity

[2016-11-09 08:38] #94 closed, assigned to nobody

[2016-11-09 08:39] pedrobaeza commented on #133
Closing due to inactivity

[2016-11-09 08:39] #133 closed, assigned to nobody

[2016-11-09 08:39] pedrobaeza commented on #156
Closing due to inactivity

[2016-11-09 08:39] #156 closed, assigned to nobody

[2016-11-09 08:40] pedrobaeza commented on #227
Closing due to inactivity

[2016-11-09 08:40] #227 closed, assigned to nobody

[2016-11-09 08:40] pedrobaeza commented on #265
Closing due to inactivity

[2016-11-09 08:40] #265 closed, assigned to nobody

[2016-11-09 08:40] pedrobaeza commented on #275
Any news on this?

[2016-11-09 08:40] pedrobaeza commented on #283
Can you make a PR about this?

[2016-11-09 10:13] thomasklosinsky commented on #194
:)
Since it's been over a year now I am also lost with this issue ... ;)...
Will let you know when I had the time to check it out...

[2016-11-09 11:07] andhit-r commented on #283
@pedrobaeza sure. But i'm not sure which way to go, (1) improve the original module, or (2) create new module. That's why i asked @jbeficent as original author. I need to know the technical reason behind the original module first.

[2016-11-09 14:18] yvaucher commented on #54
@pedrobaeza should we really close unfixed bug?

[2016-11-09 14:20] pedrobaeza commented on #54
Well, it's a way to clean up our house, for not growing and growing. If nobody has fixed yet, it's because nobody is using the module nowadays, so what's the goal to keep it indefinitely opened?

[2016-11-09 14:23] pedrobaeza commented on #283
I think it's only something he forgot. You should improve current module.

[2016-11-09 14:25] JordiBForgeFlow commented on #283
@andhit-r Yes, please make a PR. I agree that this is needed as an improvement of the original module. What is important is that name is required, not product_id. Because many times users do not really know a product. They just express a need.

[2016-11-14 08:14] arun3187 opened #303 "Tax computation on discounted amount in Purchase Order"
After installing the module "purchase_discount", the Discount % field is getting to Purchase Order line. However, tax computation is happening on the line amount before the discount is applied which is wrong.

Ex:

Qty: 1
Unit Price: 100
Disc %: 10.00

Line Amount: 90
VAT 5% amount should be 4.5 instead it is calculating VAT as 5 which is on the before discount amount of 100. This needs to correct

[2016-11-14 08:16] pedrobaeza commented on #303
You are not indicating version.

[2016-11-14 14:57] arun3187 commented on #303
It's Odoo v8

[2016-11-14 15:13] pedrobaeza commented on #303
I'm using it and I don't have that problem. Is VAT included in your tax?

[2016-11-14 17:26] omar7r commented on #226
Hi @pedrobaeza @P4R

It is a big issue, it causes that standard_price will be bad computed with average and real price, because the quant cost will be bad computed and the accounts moves in the case of real time valuation will be bad computed. Maybe with this in the new api we can fix it:

[code]

What are your opinion?

Regards

[2016-11-15 08:59] pedrobaeza commented on #226
Well, in theory you have the purchase line in `order_line`, isn't it? I would also avoid another indentation doing:

[code]

but it seems overall good. Please make the PR.

[2016-11-15 11:29] omar7r commented on #226
Hi @pedrobaeza

It was fixed the 14th of May by @agaldona https://github.com/OCA/purchase-workflow/commit/e5b578b9e7613c4535fa77768207e8c44acd4822 I saw it in an old revsion of repository, sorry, close the issue.

Regards.

[2016-11-15 11:29] #226 closed, assigned to nobody

[2016-11-16 09:47] arun3187 commented on #303
In my system, tax is computed correctly only if it added to the Purchase Order after the discount is applied. I think the function that computes the tax should be called when the discount value is changed.

[2016-11-16 09:56] pedrobaeza commented on #303
Please try to reproduce it on runbot.

[2016-11-16 09:56] pedrobaeza commented on #303
https://runbot.odoo-community.org/runbot/142/8.0

[2016-11-16 10:01] arun3187 commented on #303
Created a Request for Quotation  RFQ005 on runbot but not able to reproduce the error. Let me verify this at my end if there is any other module playing around this.

[2017-02-04 18:05] harikidangoor opened #325 "POS returns error after installing purchase_discount"

[2017-02-04 18:29] #325 closed, assigned to nobody

[2017-02-06 14:19] sbidoul commented on #255
Please keep this open. We may implement something like this soon.

[2017-02-06 16:56] sbidoul opened #327 "[blueprint] purchase_requests_to_procurement"
A module, similar to purchase_request_to_requisition, that creates procurements to fulfill purchase request lines.

- add a destination warehouse and location on `purchase.request`
- add a `procurement_state` field on `purchase.request.line`
- ...

[2017-02-06 18:30] sbidoul commented on #327
cc/ @chrisdec @gva-acsone

[2017-02-08 09:05] alexis-via opened #331 "[8.0] purchase_picking_state causes openerp.osv.expression: Field 'Picking List' (picking_ids) can not be searched: non-stored function field without fnct_search"
When I install purchase_picking_state on odoo 8, I get:
[code]

I think it is caused by the fact that the function field picking_state is now stored but we have @api.depends('picking_ids', 'picking_ids.state') and pickings_ids on purchase.order is a non-stored function field without search, cf https://github.com/odoo/odoo/blob/8.0/addons/purchase/purchase.py#L275

The picking_state is a stored fie

[2017-02-08 09:13] bealdav commented on #331
ping @chafique-delli

[2017-02-08 09:42] bealdav commented on #331
as said by @alexis-via in v10 picking_ids move from o2m -> m2m

[2017-02-10 22:08] bealdav commented on #331
see https://github.com/OCA/purchase-workflow/pull/324

[2017-02-13 16:24] JordiBForgeFlow opened #333 "[8.0][9.0][purchase_request_to_rfq] transferring to PO multiple PR lines for the same product that has minimum qty"
Now, if two people purchase 1 iMac using separate purchase requests (PR1, PR2), and iMac has as a supplier Asustek, with a minimum order qty of 5, the resulting PO will be for 5 units, but only linked to PR1.

This line:
https://github.com/OCA/purchase-workflow/blob/8.0/purchase_request_to_rfq/wizard/purchase_request_line_make_purchase_order.py#L221

should be executed regardless if new_qty > po_l

[2017-02-14 09:08] bennals commented on #194
This is of interest to me @thomasklosinsky.
Do you mean that you would like to have the ability to sell consignment stock through the touchscreen POS and have the special Request for Quotation generated in the same way as it is when you enter a sales order?

[2017-02-14 11:01] thomasklosinsky commented on #194
Well, yeah. In my case it was that my customer has several items which he didn't buy but had in his store for sale.
Called "commission sale" in Germany. You give the owner the money when you have had sales...
This workflow would be perfect for this kind of sales and stock handle...
You specify an owner of your stuff in the product, sell it through POS and then Odoo generates Supplier Quotations fr

[2017-02-17 15:33] sbidoul commented on #327
@JonathanNEMRY is working on a first prototype.

[2017-02-21 09:10] bennals commented on #194
@thomasklosinsky - Yes, that's exactly the situation I have here - 'consignment sale' in Australia.

@pedrobaeza  Does that make sense, or is it still not relevant for this particular workflow.

[2017-02-21 10:17] JordiBForgeFlow opened #344 "[9.0][purchase_request_to_rfq] When creating a PO line from a PR line the supplier pricelists and taxes are not determined in the PO line"
See below. The first line in the picture was created from a PR. The second line was created manually.

![image](https://cloud.githubusercontent.com/assets/7683926/23160545/38c40cda-f827-11e6-9f80-4ab4cc7feae6.png)

[2017-02-21 10:17] JordiBForgeFlow commented on #344
@lreficent can you review?

[2017-02-21 10:55] JordiBForgeFlow opened #345 "[9.0][purchase_request] Approver should appear in the tree view"
This field is important for approvers

[2017-02-21 10:55] JordiBForgeFlow commented on #345
cc @lreficent

[2017-02-21 11:34] lreficent commented on #344
the manually created one should be the same as the other, doesn't it?

[2017-02-21 12:43] LoisRForgeFlow commented on #344
PR created @jbeficent

[2017-02-21 13:47] LoisRForgeFlow commented on #345
PR created.

[2017-02-25 18:31] isabellerichard commented on #331
Hello,

Fixed on v9 by changing `depends` of `_compute_picking_state` with:
```@api.depends('order_line.move_ids', 'order_line.move_ids.state')```

Explanation: picking_ids is a non stored computed field, so I use directly its own `depends` to compute `picking_state`.

Hope this can help.

Regards

[2017-03-03 11:22] chafique-delli commented on #331
@alexis-via , Fixed by PR: https://github.com/OCA/purchase-workflow/pull/354

[2017-03-14 16:58] thomasklosinsky commented on #194
@bennals - I was just recently asking a developer for this function and he already gave me an offer. I will see if the customer can afford that. would you be interested in sharing costs for this function?

[2017-03-14 17:35] lasley commented on #194
@thomasklosinsky @bennals - The requirements in this issue are pretty vague, but you may want to take a look at [pos_sale_order](https://github.com/OCA/pos/pull/35).

[2017-03-14 21:31] bennals commented on #194
@thomasklosinsky yes, depending on the costs of course, no harm in hearing about it though.

@lasley thanks, though that doesn't specifically deal with the vendor consignment aspect of the workflow as far as I can tell.

[2017-03-16 09:10] thomasklosinsky commented on #194
I am also not sure if that module would work. It may be the right direction since the consignment stock should work on usual sale orders, but still the workflow is not the best for this usage...
@bennals  cost estimate so far was $300-700... but I will get a closer estimate when talking to the programmer and refine needs. Will be in a week or two. I will keep you updated.

[2017-03-20 11:48] #345 closed, assigned to nobody

[2017-03-20 11:50] JordiBForgeFlow opened #367 "[9.0][purchase_request_procurement] requests should be created in status 'Waiting approval' by default"
Currently when a purchase request is created from a procurement, it is created in draft. But this does not make much sense because these purchase requests are automatically created. They should be created by default in a state 'waiting approval'.

[2017-03-20 11:50] JordiBForgeFlow commented on #367
@gmeficent can you create a Pull request for this?

[2017-04-14 00:11] bennals commented on #194
@thomasklosinsky sorry about the late reply.  I never get email notifications about mentions or issue updates from Github for some reason (which I should probably look into).  Looking forward to the update.

[2017-04-19 15:13] LoisRForgeFlow opened #380 "[RFC] Purchase manual incoming shipment"
Now, when a purchase order is confirmed the incoming shipments are automatically created covering the whole PO, no more, no less.

This automation makes the shipment related to the PO inflexible and kind of useless in many scenarios. The supplier can decide to:
send you several PO's in the same delivery, send only some PO lines, send a different amount than the specified in the PO.
or even send in

[2017-04-21 14:28] sebastienbeau commented on #331
Fixed https://github.com/OCA/purchase-workflow/pull/354

[2017-04-21 14:28] #331 closed, assigned to nobody

[2017-05-02 02:21] kittiu opened #386 "Propose new addons, Split RFQ and Purchase Order (as separate document)"
Hi, in addition to https://github.com/OCA/sale-workflow/issues/448

I would like to submit our frequently used module, purchase_split_quote2order.
Are there similar module already exists, and/or will this module be useful enough to be in OCA?
Here the link, now is for v8.
https://github.com/pabi2/pb2_generic/blob/master/purchase_split_quote2order

Similar to the sale-workflow, I am ready to change

[2017-05-02 07:09] pedrobaeza commented on #386
I think you can go ahead.

[2017-05-12 14:45] JordiBForgeFlow opened #396 "[9.0][purchase_request_procurement] Procurement not cancelled when a purchase request is cancelled"
We need to change the purchase_request_procurement module, so that cancelling a purchase request will cancel the procurement as well. But then you should NOT be able to reset the purchase request back to draft, if the related procurements are cancelled.

Also, you should not be able to cancel a procurement if a subsequent purchase request exists. The user needs to first cancel it through the procu

[2017-05-12 14:45] JordiBForgeFlow commented on #396
cc @lreficent

[2017-05-12 14:48] sbidoul commented on #396
cc/ @benwillig @gva-acsone

[2017-05-15 10:21] LoisRForgeFlow commented on #333
in v10 this is attended here: https://github.com/OCA/purchase-workflow/pull/397

[2017-05-19 21:17] fmdl commented on #279
purchase_picking_state is done : https://github.com/OCA/purchase-workflow/pull/324

[2017-05-20 10:36] pedrobaeza commented on #279
Added!

[2017-05-23 14:39] blutecsolutions commented on #279
Is there any news on **purchase_order_variant_mgmt** for v10.0 ?
https://www.odoo.com/apps/modules/9.0/purchase_order_variant_mgmt/
Thanks

[2017-05-23 15:36] pedrobaeza commented on #279
No, but it's very easy to do following the sale one.

[2017-05-23 15:38] pedrobaeza commented on #279
Note that this module should be moved to OCA/product-variant

[2017-06-05 15:01] kittiu commented on #279
migrated, **purchase_last_price_info**, #406

[2017-06-15 16:00] randyraharjo93 opened #413 "Purchase Discount Account"
When you put discount on purchase line, it's good, but it doesn't have any impact on the account, We don't have account to record the value of discount. That's quite OK. But when we have the product configured with perpeptual account, the accounting value gone wrong.

1.When we buy the product, the amount of stock account is not the discounted one.
     For Example, we buy a $ 1,000 product with 2

[2017-06-15 16:49] pedrobaeza commented on #413
You are not indicating the version. Anyway, this was patched in all versions some time ago. Update your code.

[2017-06-21 03:26] randyraharjo93 commented on #413
@pedrobaeza Thanks for replying, I'm sorry not to put the version. This is what I have in the odoo apps "Latest Version: 	10.0.9.0.1.0.0".
What version should I get? Is there any configuration I need to do?

[2017-06-21 07:09] pedrobaeza commented on #413
It seems that 10.0 version doesn't contain the code for the moves: https://github.com/OCA/purchase-workflow/blob/9.0/purchase_discount/models/purchase_order.py#L33.

Can you please include it and make a PR?

[2017-06-21 16:58] JordiBForgeFlow opened #417 "[RFQ][purchase_open_qty] Purchase Open Qty"
We have identified a need where purchase users need to be able to identify what are the purchase orders that currently have quantities pending to receive, or to invoice.

Solution approach
------------------------
1. Define fields in the purchase.order.line: 'qty_to_receive', 'qty_to_invoice'.
Inherit the method of the purchase order line `_compute_qty_received` to update a field 'qty_to_receive'

[2017-06-26 11:15] LoisRForgeFlow commented on #396
This comment describes the [final approach](https://github.com/OCA/purchase-workflow/pull/398#issuecomment-303458774) followed.

[2017-06-29 08:39] benwillig commented on #396
@lreficent @jbeficent Can I start to migrate to 10.0 merged changes ?

[2017-06-29 08:50] JordiBForgeFlow commented on #396
@benwillig Yes, you can

[2017-07-05 11:11] randyraharjo93 commented on #413
An error occured, this is what I have.

Happened when I press "confirm Sale"

[2017-07-10 13:52] JordiBForgeFlow opened #427 "[9.0][purchase_request_to_procurement] Does not allow to add non-purchase products to purchase request"
In case that you create a purchase request that should initiate a procurement to transfer some stock, you are sometimes stuck because only products that can be purchased can be selected in the purchase request.

[2017-07-13 10:34] JuaniFreedoo opened #429 "Purchase Order Revision - Lines not cancelled"
When doing an order review, order is cancelled and also  lines should be,  but instead,  when generating order lines information  they are still listed.

[2017-07-14 14:31] eLBati commented on #429
@JuaniAizean which odoo version?

[2017-07-14 14:36] JuaniFreedoo commented on #429
@eLBati Odoo v8

[2017-07-20 13:15] admin-odoo-supercoop opened #434 "[9.0][purchase_discount] on a purchase invoice in draft total is not updated when quantity change"
Odoo 9.0.

Since we install the **purchase_discount** module, we observe a change in the _account.invoice.line_: the total field was updated when the quantity changed, but no more. We have to save the invoice to see the total updated.
When we uninstalled the purchase_discount module, the issue is fixed.

<img width="1206" alt="purchase_invoice" src="https://user-images.githubusercontent.com/247191

[2017-07-25 11:49] JordiBForgeFlow opened #437 "[9.0] Travis failing in all PR's: ImportError: No module named lxml"
In latest Travis builds we're seeing this error:
 File "/home/travis/virtualenv/python2.7_with_system_site_packages/local/lib/python2.7/site-packages/pylint_odoo/misc.py", line 7, in <module>
    from lxml import etree
ImportError: No module named lxml

@gurneyalex Can you help us here?

[2017-07-25 11:50] pedrobaeza commented on #437
Don't open new issues: https://github.com/OCA/maintainer-quality-tools/issues/467

[2017-07-25 11:50] #437 closed, assigned to nobody

[2017-07-27 09:26] LoisRForgeFlow opened #440 "[BUG] purchase_request_procurement: not able to reject a request"
**Scenario:**
* purchase_request_procurement and mrp_production_request are installed.
* User A is a Purchase Request (PR) User but has no access to Manufacturing Request (MR).

**Issue:**
User A is not able to reject a PR, a similar to this raises:
![image](https://user-images.githubusercontent.com/23449160/28663582-17b38068-72be-11e7-9cd6-624f641fe623.png)

The issue is related to the propagatio

[2017-08-28 14:17] #396 closed, assigned to nobody

[2017-09-22 15:35] yk2kus opened #457 "unknown field in domain "account_type" in "purhcase_request" module"
https://github.com/OCA/purchase-workflow/blob/10.0/purchase_request/views/purchase_request_view.xml#L104

in which module this field is created? getting error on opening analytic account.

[2017-09-22 15:37] pedrobaeza commented on #457
It's an old remnant of v8 accounting structure I think.

[2017-09-22 15:56] JordiBForgeFlow commented on #457
@aheficent can you fix that?

[2017-09-22 16:59] JordiBForgeFlow commented on #457
See the proposed PR

[2017-09-22 17:21] yk2kus commented on #457
https://github.com/OCA/purchase-workflow/pull/458

[2017-10-03 10:27] LoisRForgeFlow commented on #440
Closing as this is already solved.

[2017-10-03 10:27] #440 closed, assigned to nobody

[2017-10-03 14:54] pedrobaeza opened #461 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [ ] framework_agreement
- [ ] mrp_smart_purchase
- [ ] procurement_batch_generator
- [x] procurement_purchase_no_grouping - By @carlosdauden - #563
- [x] ~~product_by_supplier - By @lreficent - #596~~ Finally not needed as it's included in core
- [x] product_supplierinfo_discount - ~~By @DarkoNi

[2017-10-09 13:15] JordiBForgeFlow opened #464 "[11.0] merge "purchase_fop_shipping" and "purchase_minimum_amount""
We have identified that in v10 the following modules provide very similar features:
purchase_fop_shipping: https://github.com/OCA/purchase-workflow/tree/10.0/purchase_fop_shipping
purchase_minimum_amount: https://github.com/OCA/purchase-workflow/tree/10.0/purchase_minimum_amount

As we are now planning to migrate purchase_minimum_amount to v11, we propose to merge them together. We can prepare a m

[2017-10-09 13:15] JordiBForgeFlow commented on #464
cc @mourad-ehm @bealdav what do you think?

[2017-10-09 15:17] mourad-ehm commented on #464
I think is a good idea to merge them.
What to you think if the new module will be based on base_exception (like sale_exception) ?
I can study to possibility to migrate base_exception to v 11 if you use it.

[2017-10-09 15:25] bealdav commented on #464
@jbeficent do you consider to develop purchase_exception (sale_exception like)) ? Then purchase_fop_shipping and purchase_minimum_amount could be merged in a very small module just two use cases of exceptions ?
If yes, I'm OK with mourad proposal to migrate base_exception in v11 even if we have no project in v11 for now.

[2017-10-09 16:23] JordiBForgeFlow commented on #464
@bealdav `purchase_fop_shipping` does what `purchase_minimum_amount` does, but slightly differently in the way to approach.

Also fyi, 'purchase_order_approval_block' has also been merged recently. https://github.com/OCA/purchase-workflow/tree/10.0/purchase_order_approval_block and `purchase_minimum_amount` depends on it.

We could keep the approval block field proposed in `purchase_minimum_amount

[2017-10-09 17:09] bealdav commented on #464
OK, I'll let @mourad-ehm talk with you here, but on our side as indicated, we can port base_exception in v11 and bring some modifications related triggering exceptions : as far as I remember in sale_exception it's when the sale `is confirmed`. But it could be to any specified step of the status.
Thanks.

[2017-10-11 11:59] JordiBForgeFlow opened #465 "[RFC] purchase request 11.0"
We want to start migrating the purchase request modules to 11.0. I would like to gather ideas for improvements from people who have been using this feature (since 7.0), so that we can improve.

To discuss:
* [ ] Quantity purchased / quantity pending to purchase, for each line.
* [ ] Ability to search for purchase request & lines with qty pending to purchase
* [x] Add done status https://github.com

[2017-10-11 13:33] mourad-ehm commented on #464
Ok, I will add a field next_state to the rule. Thus if the state is set, we change the object value to this state if the rule is detected. If no state is set on rule, we only block until the correction is set or the action is forced by a user which belong to the group "group_exception_rule_manager".

[2017-10-13 08:36] mourad-ehm commented on #464
I migrate base_exception https://github.com/OCA/server-tools/pull/1025. I will create purchase exception module.

[2017-10-13 14:38] mourad-ehm commented on #464
I added a new module purchase_exception: https://github.com/OCA/purchase-workflow/pull/467

[2017-10-18 07:48] mourad-ehm opened #468 "Tests of module purchase_request_to_rfq are failed in Travis."
In this PR #391  the test are failed because of this merged module purchase_request_to_rfq.
Here is the travis log:
`2017-10-17' 14:21:26,203 5509 ERROR openerp_test openerp.addons.purchase_request_to_rfq.tests.test_purchase_request_to_rfq: ' File "/home/travis/build/OCA/purchase-workflow/purchase_request_to_rfq/wizard/purchase_request_line_make_purchase_order.py", line 159, in make_purchase_order

[2017-10-18 07:51] pedrobaeza commented on #468
@jbeficent can you check?

[2017-10-18 17:01] MiquelRForgeFlow opened #469 "10.0 branch is broken"
![selection_022](https://user-images.githubusercontent.com/25005517/31731625-f17d0fea-b435-11e7-8643-9251a3e93038.png)

Can somebody fix it? It seems it fails in `purchase_discount` and `purchase_triple_discount` tests, and maybe the commit https://github.com/OCA/purchase-workflow/commit/1b736733615564a78cdfe0eb224d423f7664c36b is the culprit :smirk:

cc: @pedrobaeza

[2017-10-18 17:06] pedrobaeza commented on #469
No, it's the contrary... that commit solves an issue. Any way, I'll check it.

[2017-10-18 18:13] pedrobaeza commented on #469
The culprit is https://github.com/odoo/odoo/commit/5afb5ecd04cf49be6bedb655b187b19a65e1e02d#diff-3bf7fa37ad269bad5d8df8214bd5206b

Fixed in https://github.com/OCA/purchase-workflow/commit/e6a85a0e7f1de02540a41cc35c0e7f9516c4fe3a

[2017-10-18 18:13] #469 closed, assigned to nobody

[2017-10-23 18:05] ccandito opened #472 "subcontracted_service: no rule has been determined"
Dear All,
I've created a service product setting the indicator "subcontracting service".
I've also created a procurement order for that service. Unfortunately the rule "Subcontracting Service" is  not determined so it has to be entered manually.
Is it the right behaviour?
Regards
claudio candito

[2017-10-24 08:22] LoisRForgeFlow commented on #472
Hi @ccandito

I just reproduce the steps [here](https://github.com/OCA/purchase-workflow/blob/9.0/subcontracted_service/README.rst) on v9 runbot and it worked as expected for me.

[2017-10-24 08:23] LoisRForgeFlow commented on #472
attaching a picture of the procurement:
![image](https://user-images.githubusercontent.com/23449160/31932025-58eed38e-b8a5-11e7-9655-fa11459faf05.png)

[2017-11-20 15:40] remz1337 opened #478 "[10.0] Purchase Request to RFQ : keep_description default"
I have installed the module purchase_request_to_rfq and it works great.
I have created a user defined default to set the field keep_description of the wizard to true like this:

Name | keep_description
Model Name | purchase.request.line.make.purchase.order.item
Default value | True

Here is the bug:
When the wizard opens to convert purchase request lines to RFQ, the checkbox for keep_description a

[2017-12-13 14:56] AlainVanUtterbeeck opened #482 "product_supplierinfo_discount: branches???"
In branch 9, this looks good and has more functionality than in branch 8.
But in branch 10, I find the old version of branch 8 ?

[2017-12-13 15:02] pedrobaeza commented on #482
This is because it's not yet migrated.

[2017-12-13 15:02] #482 closed, assigned to nobody

[2017-12-21 09:56] nadiaafa commented on #461
@pedrobaeza i will work on procurement_purchase_no_grouping

[2017-12-21 09:57] pedrobaeza commented on #461
@nadiaafa that module can now benefit from hooks that I get into the procurement removal refactoring. Please check them.

[2018-01-05 13:42] ccandito commented on #472
thanks a lot
claudio

[2018-01-05 13:42] #472 closed, assigned to nobody

[2018-01-19 03:19] atlaskong opened #491 "'purchase.order' object has no attribute '_columns'"
When I entered "purchase request" menu, it show "'purchase.order' object has no attribute '_columns'".

And I can not enter.

What should I do now？

Help me, please.

[2018-01-19 10:19] pedrobaeza commented on #491
Please try on runbot.

You haven't specified installed module and version any way.

[2018-01-25 07:20] balagopalr22 opened #495 "Will the Purchase line discounts reflect in Vendor bills?"
I have given purchase line discounts for some products. But when i create Vendor bill against that order, the discounts are not reflecting.

[2018-01-25 09:22] pedrobaeza commented on #495
Version?

[2018-01-25 09:29] balagopalr22 commented on #495
V10

[2018-02-06 16:52] bista-amitd opened #498 "[purchase_location_by_line] : module is not allowing to add extra PO lines once PO is processed"
To Reproduce:
1). Create one Purchase Order
2). Add one line on it
3). Confirm the purchase order, process the picking
4). Now try to add a new line and save, it's giving following warning:
'Quantities, Units of Measure, Products and Locations cannot be modified on stock moves that have already been processed (except by the Administrator).'

It's trying to write the location on processed stock mov

[2018-02-08 09:54] lukebranch commented on #461
@pedrobaeza ,

I've just upgraded purchase_discount from OCA/purchase-workflow's 10.0 branch with a simple version bump, and product_supplierinfo_discount from Stefan's PR here:
<a href="https://github.com/StefanRijnhart/purchase-workflow/commit/4b6bfad2c0bf81460c8be2ecdabb44e9442f1a83">https://github.com/StefanRijnhart/purchase-workflow/commit/4b6bfad2c0bf81460c8be2ecdabb44e9442f1a83</a>

The onl

[2018-02-08 21:49] pedrobaeza commented on #461
@lukebranch please make a PR following migration guide: https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0 and I'll review both

[2018-02-21 11:21] jjscarafia opened #503 "[10.0+] purchase_discount performance"
Hi @pedrobaeza.

We've detected that aproving PO of many products takes to long and seams to be related to [this line](https://github.com/OCA/purchase-workflow/blob/10.0/purchase_discount/models/purchase_order.py#L87).

Do you remember why that is needed? We have comment it and it works ok. How can you get into an "infinite recursion"?

Just to let you know, we are not using this on v10, instead w

[2018-02-21 11:41] rousseldenis commented on #503
@pedrobaeza The function '_get_stock_move_price_unit' is incorrectly implemented due to https://github.com/OCA/purchase-workflow/commit/aceb2ebc102fe75f4d13ea1161df50e4bef786c5#diff-05d05bf1b158883e1f78f62e9db20eab

You modify in it fields values. These modifications trigger recompute. You cannot modify values in a 'get' function...

[2018-02-21 12:05] pedrobaeza commented on #503
All of this is because Odoo removes our hooks for doing this in a proper way. We can try to get again the hooks, but they are very close in this matter. I tried to do the best for having the correct result (see also #501) with another case that I have detected that is incorrect, but sometimes it has these drawbacks.

[2018-02-21 12:05] pedrobaeza commented on #503
Any alternative implementation that works is welcome.

[2018-02-22 12:24] rousseldenis commented on #503
@pedrobaeza Sorry but no time for this at this moment

[2018-02-22 19:53] jjscarafia commented on #503
Hi @pedrobaeza, thanks for the quickresponse. I completelly understand that is not easy.
About https://github.com/OCA/purchase-workflow/pull/501/files I'm going to test it and comment on the PR, seams good to me and as far as I've tested it doesn't takes to performance issues.

Regarding [setting order state as 'purchase'](https://github.com/OCA/purchase-workflow/blob/10.0/purchase_discount/models

[2018-02-23 08:53] pedrobaeza commented on #503
The state change is because this code:

https://github.com/odoo/odoo/blob/ab60d773eb84a527b3167d7efaf169f70c5c9786/addons/purchase/models/purchase.py#L587

It was triggering continues stock move creation and launching again the price unit query. It seems that it was refactored a year ago in:

https://github.com/odoo/odoo/commit/11f0a5c29fad6ecf71c92e20b0b258fe31da06f8

avoiding this problem, so no

[2018-02-23 11:21] #503 closed, assigned to nobody

[2018-02-27 18:55] max3903 opened #505 "stock_landed_cost_company_percentage"
# Module description

This module allows you to add a fixed percentage of landed costs to every received items.

# Configuration

* Go to Inventory > Master Data > Products
* Create landed cost product. Make sure the landed cost box is checked.
* Go to Settings > Company
* Select a company and go to the Accounting tab
* Select or create a journal for the landed costs accounting entries
* Add lande

[2018-02-27 18:55] max3903 commented on #505
Ping @bodedra

[2018-02-28 18:49] remz1337 opened #506 "[10.0][purchase_delivery_split_date] Bad behaviour when updating ordered quantity on PO line"
Steps to reproduce:
Odoo 10 Enterprise Demo database + purchase_delivery_split_date
create PO with 2 products scheduled at 2 different dates
Confirm order--> this will create 2 receptions with specified quantities
Edit the ordered quantity on one of the PO lines

First case: Decreasing the quantity
Nothing happens, the quantity on the reception is not updated

Second case: Increasing the quantity

[2018-02-28 18:56] remz1337 opened #507 "[10.0][purchase_delivery_split_date] Empty reception when adding service product to PO"
Steps to reproduce:
Odoo 10 Enterprise Demo database + purchase_delivery_split_date
create PO with 2 products scheduled at 2 different dates
Confirm order--> this will create 2 receptions with specified quantities
Edit the PO to add service product.

The Shipment button on the PO still says 2 shipment, but if you look at all the operations in Inventory, you will find 2 Draft picking with the sourc

[2018-03-04 10:16] hizbul-evl opened #509 "Module `purchase_delivery_split_date` need compatible with Odoo 11.0"
`purchase_delivery_split_date` is showing error with python3

[2018-03-04 12:30] pedrobaeza commented on #509
Module is not yet migrated to v11.

[2018-03-04 12:30] #509 closed, assigned to nobody

[2018-03-09 12:11] developer-es1 opened #513 "[9.0][purchase_request_to_rfq] KeyError when grouping by purchase_state"
I'm getting 'KeyError: u'purchase_state' when grouping by purchase state in purchase request lines. Any workaround or solution?

![screenshot_purchases](https://user-images.githubusercontent.com/26630406/37207988-e90ffcd0-239f-11e8-8ef2-a53e6ea7b6b5.png)

[2018-03-09 14:36] remz1337 opened #514 "[10.0][purchase_request] Vendor product code not included in description"
When you create a normal PO, if the product has a vendor code, it will be displayed with the internal reference in the description, like this:

[INTERNAL REF / VENDOR CODE] Very important product

but when the PO is created from a PR (using the request_to_rfq module), the vendor reference is not show because it is not initially included in the description on the PR.

Relevant code to change in ord

[2018-03-13 14:22] remz1337 opened #515 "[10.0][purchase_request] product price not displayed"
This is an enhancement to the module.

It doesn't make sense that the approver doesn't see the price of the items requested. There are 2 cases:
1) The product is a one time purchase, so it doesn't exist in the system. Then only the description is filled but there should be a way to indicate estimated/market price (user can put reference in the chatter if necessary)

2) The product exists in the sy

[2018-03-13 16:37] developer-es1 commented on #513
Solved, purchase_state was written as 'stored' instead 'store' and it generated an error.

[2018-03-13 16:37] #513 closed, assigned to nobody

[2018-03-15 15:18] LoisRForgeFlow commented on #515
@remz1337 It would be a good improvement, feel free to open a PR adding the feature.

[2018-03-16 14:00] remz1337 opened #524 "[10.0][purchase_request_to_rfq] RFQ currency and payment terms do not take supplier configuration"
When I convert purchase request lines into a RFQ, the currency is always the default currency of the company instead of the currency of the supplier. Also, the payment terms is empty instead of using the payment terms of the supplier.

When I create a RFQ manually, the currency and payment terms are updated when I change the supplier. Behaviour should be the same when creating a RFQ from a Purchas

[2018-03-16 14:57] LoisRForgeFlow commented on #524
@remz1337 Yes, better to match RFQ behavior, I'd be glad to review a PR fixing this.

[2018-03-20 08:34] ghost opened #527 "[10] purchase_triple_discount"
Hello!
I have seen a strange behaviour with this module. If I apply some discount (one, two or three) the taxes are applied over the unit price. It should be over the subtotal amount, shouldnt´t it?
Thanks
![01](https://user-images.githubusercontent.com/25029267/37643760-dddf796e-2c21-11e8-9250-e3c76f051492.png)

[2018-03-20 08:36] pedrobaeza commented on #527
Please update to latest version

[2018-03-20 08:36] #527 closed, assigned to nobody

[2018-03-20 21:49] bennals commented on #194
@thomasklosinsky
Sorry for resurrecting this old issue but did you ever get anywhere with that custom module for Commission Sale (consignment sale here in Aus)?  I'm really in need of the module now!

[2018-03-21 10:46] thomasklosinsky commented on #194
@bennals
sorry.
I won't be able to make the customization, but if you need a good contact for Odoo/Python customization work, leave me a message. I didn't get any further with this so far.
But if you are asking the guy I have in mind I will ask my customer again if they still want that functionality. Which Odoo version are you using?

[2018-03-21 13:08] bennals commented on #194
@thomasklosinsky that's ok, and yes, happy to hear about your contact - it would make sense if they have already been briefed on the job.  I'll be using v11.

[2018-03-23 12:11] gurneyalex commented on #468
closed in #529

[2018-03-23 12:11] #468 closed, assigned to nobody

[2018-03-25 17:19] bunhin opened #530 "[v10] Purchase Discount error Discount calculation"
I found inconsistent calculation error with the discount
![image](https://user-images.githubusercontent.com/7310629/37877877-14f7db36-308b-11e8-9a3d-fdbc877f0eb1.png)
Please find on the picture,  i do not know why this kind of error is happen.

Look intu the line with 5% discount  the calculation is not correct i believe

Please have a look

[2018-03-25 17:25] pedrobaeza commented on #530
Please try to reproduce the problem in runbot.

[2018-03-25 17:37] bunhin commented on #530
I try with other database  the 5% discount calculation is correct, what could be wrong?

[2018-03-25 17:40] pedrobaeza commented on #530
Do you have your module updated with latest code?

[2018-03-25 17:48] bunhin commented on #530
may not to the last date but i will try to update now,  here i try another RFQ and it seem the inconsistent error is reproduced for the 5% discount

![image](https://user-images.githubusercontent.com/7310629/37878194-41fbba5e-308f-11e8-9b18-0fdae469831a.png)

but i try to update the code and then come back

[2018-03-25 17:59] pedrobaeza commented on #530
Then we have the answer. There were an update recently. Closing until further notice.

[2018-03-25 17:59] #530 closed, assigned to nobody

[2018-03-25 18:29] bunhin commented on #530
dear @pedrobaeza
I just stop the server, update odoo with git pull,  update oca/purchase-workflow/  with git pull,  start again the server

login aggain to database, dan update, epdate module list,  than try to make another purchase rfq

it still happen,  is itthe update steps is not enough?
here is latest result after the above update
![image](https://user-images.githubusercontent.com/7310629/378

[2018-03-25 18:33] pedrobaeza commented on #530
Sorry, but you need to reproduce it in runbot for being traceable. I'm figuring out that the problem is with other custom module you have in your DB.

[2018-03-25 18:39] bunhin commented on #530
ok, will try to run bot,  only purchase discount of OCA, multi-company OCA, mis buileder OCA, and backend debranding  -IT-Projects

thank you anyway for response. will go to runbot

[2018-03-26 15:50] celm1990 commented on #461
Hi,
Module purchase_last_price_info is not migrate from V8, I need it for V11, can create PR only V11 or must be V9, V10 and V11???

[2018-03-26 17:20] pedrobaeza commented on #461
No, you can go directly to v11, but use the migration guide for preserving commit history the same, but replacing `10.0` references by `8.0`

[2018-03-29 14:02] pedrobaeza commented on #505
Can be closed as the PR is merged.

[2018-03-29 14:02] #505 closed, assigned to max3903

[2018-03-29 14:02] pedrobaeza commented on #491
No answer, so I close.

[2018-03-29 14:02] #491 closed, assigned to nobody

[2018-03-29 14:02] pedrobaeza commented on #434
Please try on latest builds.

[2018-03-30 10:14] atlaskong commented on #491
Dear Sir,

I see your mail today.
Sorry for late.
Thank you for your help.

Regards,
Atlas

2018-03-29 22:02 GMT+08:00 Pedro M. Baeza <notifications@github.com>:

[2018-04-05 23:32] bunhin opened #536 "[V10] Purchase Discount -- Significant Compute Error -- Seems from Rounding"
I create this as new issue since previous one has been closed.
Issue:
The purchase_discount module give noticeable compute error, possible some lines correct and some lines error when there are many lines in purchase order with discount.

I  found the problem is caused by rounding (when the decimal accuracy of price unit is set 0 or no decimal)
This error is significant and unacceptable accounting

[2018-04-06 00:14] pedrobaeza commented on #536
Sorry, but you should expect rounding problems when you are putting Price accuracy to 0, as a lot of roundings are doing in between. I think this is not a problem of the module itself, but all the code involved, and if you expect that someone fixes this because he/she has the same use case, I don't think so as this is the first time I find this weird case, but I invite you to investigate yourself

[2018-04-06 12:16] bunhin commented on #536
Dear @pedrobaeza,  i am really sorry for my very shallow understanding on the whole code and coding itself, but i like to report that i think it is may help. Please forgive me if my report wordings or redaction is not polite to anybody here in the forum and causing negative feelings. I do not mean to ask anybody to fix it for my need at all. I like to contribute what i can, at current level of my

[2018-04-06 14:17] pedrobaeza commented on #536
No, your message is absolutely polite. That's not the problem. The problem comes from trying to force with a weird rounding to 0 all Odoo to work perfectly without rounding problems, and that's not possible always as in this case.

[2018-04-06 15:38] bunhin commented on #536
understand, thank you

[2018-04-13 10:52] pmartineznetquest opened #538 "[11.0] New module purchase_invoice_lines"
Hi all!

As far as we know, there is no standard way nor module to implement the purchase invoicing in the following scenarios:

- Invoice lines from a PO separately. There is a workaround, that is to invoice from the PO and remove lines that are not going to be invoiced.
- Invoice lines from different PO. We haven't found a native way to to that as it was implemented in previous versions.

We thi

[2018-04-30 15:02] HviorForgeFlow commented on #465
WIP #544

[2018-05-15 19:51] pedrobaeza commented on #538
Hi @pmartineznetquest

Yeah, it can be interesting. Standard doesn't cover this, but I suggest you to use standard onchange method for performing what you want, and later remove the lines that are not marked for invoicing.

Another suggestion is to put this on OCA/account-invoicing instead with the name `purchase_line_invoicing`.

[2018-05-31 02:11] Moto017 opened #551 "[11]Subcontracted Service install error"
The operation cannot be completed, probably due to the following:
- deletion: you may be trying to delete a record while other records still reference it
- creation/update: a mandatory field is not correctly set

[object with reference: picking_type_id - picking.type.id]

[2018-05-31 07:08] pedrobaeza commented on #551
Please put the detailed steps to reproduce the error.

[2018-05-31 16:39] Moto017 commented on #551
Using 11 CE. Attempting app install gives the above error.

[2018-05-31 16:41] pedrobaeza commented on #551
Which module?

[2018-05-31 16:43] Moto017 commented on #551
subcontracted_service

[2018-05-31 16:45] pedrobaeza commented on #551
@hveficent can you check?

[2018-06-01 07:59] HviorForgeFlow commented on #551
Yes, I could reproduce your error. Main problem is on init hook that creates a procurement rule in main company warehouse. If there is no buy stock_picking_type associated to this warehouse, installation raises this error.
I'm not so sure how to solve this problem aiming in standarization. Should I remove init_hook, or just prompt a message if stock_pciking_type is not found?
cc. @jbeficent @lrefi

[2018-06-04 07:18] HviorForgeFlow commented on #551
@Moto017 I would like you to explain a little bit better your use case of this module, it would help to improve it, thanks.

[2018-06-04 14:41] Moto017 commented on #551
@hveficent O course.
We subcontract portions of manufacturing with a mix of material supplied by us and supplied by subcontractor.  Our best use to handle inventory levels is with BOM's, therefore, there is no direct link to our vendor bills.  Creation of the PO by service will then verify and match production quantities and amounts.  Hope this is helpful!

[2018-06-04 15:17] HviorForgeFlow commented on #551
I was asking about routes, if you are using multiple warehouses, among other customization, because I don't understand how you don't provide Odoo inventory with an incoming route in main company.

[2018-06-04 17:34] Moto017 commented on #551
We are using multi company as well as multiple warehouses.  We do have an incoming route in main company under Buy.  Perhaps it is a multi-company error as I noticed these are not defined in procurements.  Your commit has allowed installation and will check use.

[2018-06-11 13:51] remz1337 opened #556 "[10.0][purchase_request_to_rfq] some French translations are negated"
Some email messages in french say the opposite of the original english message.

Install purchase_request and purchase_request_to_rfq modules from OCA repo
create a PR, convert to RFQ, then PO and receive the PO.

When the items are received, the followers of the purchase request get an email saying what was received. The message in english is right (it says the items were received) but the messag

[2018-06-11 16:04] pedrobaeza commented on #556
Please fix translations on Transifex: https://odoo-community.org/page/translate

[2018-06-11 16:04] #556 closed, assigned to nobody

[2018-06-12 15:14] mtbochaca opened #558 "[9.0] purchase_discount Discounts are not calculated correctly"
When I make a purchase order with a discount, it is not calculated correctly.
Ex: Units: 30 Price: 19.75 Discount: 50% Odoo total line: 296,40 Real total line: 296,25
Tested in runbot.
http://3328685-9-0-20c98b.runbot2.odoo-community.org/web?debug=1#id=10&view_type=form&model=purchase.order&menu_id=232&action=303

[2018-07-02 23:12] pedrobaeza commented on #558
This version might miss some of the patches on 10.0. Please check if it's the case.

[2018-07-04 08:10] mtbochaca commented on #558
Not. The problem it's the same in version 10!!!
http://3331579-10-0-9cc0f2.runbot2.odoo-community.org/web?debug=1#id=8&view_type=form&model=purchase.order&menu_id=201&action=302
The problem it's in a rounding method:
Price_unit: 19.75 * discount: 0.5 = 9,875 Rounding (????) = 9,88 * Units = 30 = 296.40
The correct calculation:
Price_unit: 19.75 * discount: 0.5 = 9,875  * Units:30 =  296.25 Roundin

[2018-07-04 08:19] legalsylvain commented on #558
Do you use purchase_rounding_method ? Because what you describe is exactly how works this module.

regards.

[2018-07-04 12:59] putao615 opened #561 "[Odoo Server Error] ValueError: Invalid field u'qty_to_receive' in leaf "<osv.ExtendedLeaf: (u'qty_to_receive', u'>', 0) on purchase_order (ctx: )>""
Once I have uninstalled the module "Purchase open qty", then click Menu "Purchases-->Purchase-->Purchase Orders",  the below issue will happened.
========================================================
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 642, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/u

[2018-07-04 13:26] AaronHForgeFlow commented on #561
Can you provide more info here? Which Odoo version? Can you reproduce this error on runbot? What modules form this repo are you using? How did you bump into this error?

[2018-07-04 13:38] putao615 commented on #561
the Odoo version is 10.0-20180523 (Community Edition) , sorry for I don't know runbot, but I can provide you a test environment if you need, please give me your email then I will send them to you.

[2018-07-04 16:07] AaronHForgeFlow commented on #561
If you can reproduce the error here: http://3331816-10-0-75fda1.runbot1.odoo-community.org/web/login then we can figure it out if there's a problem. Can you check?

[2018-07-05 13:11] putao615 commented on #561
I tried many time to create a database with name "putao615_test" or "openerp_putao615", system show me database is existed but not display, could please tell me how to create or restore a database?

[2018-07-05 13:15] AaronHForgeFlow commented on #561
I think you cannot create a database on runbot. you don't need that anyway. All OCA/purchase-workflow modules v10 are installed in that runbot so you just have to go inside and play with it :)

[2018-07-05 13:16] putao615 commented on #561
what is the username and password? I can not access it.

[2018-07-05 13:20] putao615 commented on #561
I found username and password, thanks. now I will try to reproduce the error.

[2018-07-05 15:15] putao615 commented on #561
I am lucky, now I reproduced the error again on runbot.
the step is "Purchases"-->"Purchase"-->"Purchase Orders"-->"New", the error will show immediately.
![error](https://user-images.githubusercontent.com/31801395/42331909-3d0d7e00-80a9-11e8-859f-c9f76996a575.png)

[2018-07-06 03:16] gustavovalverde commented on #303
This can be closed @pedrobaeza

[2018-07-06 03:16] gustavovalverde opened #562 "[11.0] purchase_discount: Stock moves created with unit_price before discount"
The module is doing the right thing using `_get_stock_move_price_unit()` from the purchase order: https://github.com/odoo/odoo/blob/f6b3247c31ee176944a060afb911021d071d8a32/addons/purchase/models/purchase.py#L682

But there's also `_get_price_unit()` https://github.com/odoo/odoo/blob/ab5fcb29650349fa641c6130bf6dcbdc1ec28a07/addons/purchase/models/stock.py#L37 which makes things a bit confusing on

[2018-07-06 07:20] pedrobaeza commented on #303
OK, thanks.

[2018-07-06 07:20] #303 closed, assigned to nobody

[2018-07-06 09:32] AaronHForgeFlow commented on #561
I can create a PO without any problem, what runbot did you use?

![gifrecord_2018-07-06_113005](https://user-images.githubusercontent.com/19620251/42371615-408b2516-8110-11e8-8991-da9917a3eea8.gif)

[2018-07-06 18:12] putao615 commented on #561
try to install this module, create a purchase order, then remove this module again, create PO, error occur

[2018-07-09 07:08] AaronHForgeFlow commented on #561
which module?

[2018-07-09 10:07] putao615 commented on #561
Purchase open qty.

[2018-07-09 10:15] AaronHForgeFlow commented on #561
If you install the module again it does not fail.  Probably an uninstall hook is necessary.

[2018-07-09 10:19] putao615 commented on #561
what is the uninstall hook? because of uninstall problem, I can not migrate my database to another odoo system that without module "Purchase Open Qty".

[2018-07-09 10:39] AaronHForgeFlow commented on #561
If this is only for migrating, you have to create a custom script to delete the obsolete data.

[2018-07-09 11:48] putao615 commented on #561
sorry for I don't know how to write this custom script because I am not a IT guy. but I think the module should remove related data once it be uninstalled. the reason is that all data can be calculated if need.

[2018-07-20 12:14] randyraharjo93 opened #565 "[11.0] Subcontract Service Not working"
How to Reproduce (use odoo demo data)

1. Set Product as External Audit as service - subcontracted service
2. On purchase tab, create a new Vendors Pricelist at asustek with price 160
3. Make a sale order to agrolait, with 1 external audit price 180
4. Confirm SO, run procurement at scheduled action

Expected Result
1. Create a new line on PO 6 external Audit

Current Result
1. Datacard purchase o

[2018-07-20 12:51] HviorForgeFlow commented on #565
Hi @randyraharjo93 ,
I would like helping to solve your problem, but I don't get you on:

Could you upload some images?? Thanks,

[2018-07-20 15:03] randyraharjo93 commented on #565
Hello, thanks for the quick response

1. This is the product subcontract service
![screenshot from 2018-07-20 21 51 50](https://user-images.githubusercontent.com/17263218/43009542-2f77b1f0-8c68-11e8-9971-ac2c95a02bba.png)
2. This is the vendor / Pricelist
![screenshot from 2018-07-20 21 52 00](https://user-images.githubusercontent.com/17263218/43009579-423bc6c8-8c68-11e8-83bc-0ff13fc9b32b.png)
3.

[2018-07-20 16:11] HviorForgeFlow commented on #565
This module is a base module, by itself, it is not doing anything as description provides.

It would be necessary to develop a module, maybe in sale-workflow, maybe called sale_order_service, overriding _action_confirm method from sale.order module, to achieve desired behavior.

Some work has been done for manufacturing orders [mrp_production_service](https://github.com/OCA/manufacture/tree/11.0/m

[2018-07-20 16:24] randyraharjo93 commented on #565
Thanks, now I understand.

But why does the PO 6 number is increased each time the scheduler is working?

[2018-07-23 07:12] HviorForgeFlow commented on #565
That product has a MIN-MAX order point, so every time you run the scheduler you don't confirm any arrival of that product and re run scheduler, how Odoo doesn't find that product in your inventory, the order points is triggered and increase the quantity in that purchase order that hasn't been validated, yet.

[2018-07-23 08:50] HviorForgeFlow commented on #565
As the error is not related with this module, please close this issue.

[2018-07-23 09:07] randyraharjo93 commented on #565
Big thanks.

[2018-07-23 09:07] #565 closed, assigned to nobody

[2018-07-23 13:37] vinclar opened #568 "[purchase_request_to_rfq] [10.0] Dropshiping issues"
With dropshiping is allowing to group from different customers SO wich is wrong.
Also from a single line isn't taking the address from the customer either from grouped.

[2018-08-21 08:54] EvvFoxy opened #576 "[10.0][purchase_picking_state][group_by picking_state]"
Version 10.0
Module purchase_picking_state

Description:
The user would like to have a quick view on which POs have deliveries waiting to be done.

Current behaviour:
- not allowed to filter on picking_state field
- not allowed to sort on picking_state field
- not allowed to group by picking_state field

Expected behaviour:
- be able to filter on picking_state field
- be able to sort on picking_st

[2018-08-21 09:08] bealdav commented on #576
@EvvFoxy you're right.

Not easy to use because of non stored picking_state field

A better inspiration could be there https://github.com/akretion/ak-odoo-incubator/tree/10-sale_picking_state/sale_picking_state

with similar feature but a better implementation : stored field

[2018-08-21 09:10] bealdav commented on #576
If a customer want to pay for that (not yet required by our customers),
Akretion can do the job in oca

[2018-08-22 02:44] skypc785308 opened #577 "[10.0][product_by_supplier]can not see product_tmpl_id in form view"
HI , i have try to  install in clean database
i can see the product in tree view , but in the form view , the value of product is empty
even i can set a value in form for product, then i can see tree show product A, in form show product B
is it a bug?

sorry for my poor English

![image](https://user-images.githubusercontent.com/14845821/44439894-3a192900-a5f8-11e8-9795-d69850b6b51b.png)
![image](

[2018-08-22 03:12] skypc785308 commented on #577
i fix it
because the field can show only 1 time in form
if there are two same field in form view , it will cause issue
 remove the follow code in views/product_supplierinfo_view.xml
[code]
add context to action view  "record id="action_product_supplier_info" model="ir.actions.act_window"
[code]

then you can see normal product_tmpl_id  under pricelist
![image](https://user-images.githubusercontent

[2018-08-22 05:40] pedrobaeza commented on #577
Fixed in 1953f50496249f87510cbe2f81c4ee45f59d96c8

[2018-08-22 05:40] #577 closed, assigned to nobody

[2018-08-27 13:54] sbidoul opened #579 "[RFC] custom uom conversion factor per product"
# Use case

Purchase in a given unit, manage stock in another unit of a different category, where the conversion depends on the product

Example:
* purchase plastic film in tons, manage stock in square meter (weight per sqm depending on the product)
* purchase in tons, manage in liters (density depending on the product)

# proposed implementation

* module `purchase_per_product_uom_factor`
* add a

[2018-08-27 13:55] sbidoul commented on #579
cc/ @chrisdec @gva-acsone

[2018-08-27 14:03] pedrobaeza commented on #579
@anajuaristi @oihane you are working on something similar, isn't it?

[2018-08-27 14:24] oihane commented on #579
@sbidoul check this out https://github.com/avanzosc/odoo-addons/pull/634 and feel free to comment

[2018-08-27 14:43] sbidoul commented on #579
@oihane thanks a lot for the pointer. It is WIP, right (uop_coeff is not used yet in the code)?

For my use cases described above, I think we don't need a secondary purchase unit, as all we need on top of the standard is customize the uom_po/uom conversion factor on a per product basis.

[2018-08-27 16:00] legalsylvain commented on #579
Looks very interesting. Please ping me where there are some PR to review.
kind regards.

[2018-09-13 09:59] JordyBlankestijn opened #580 "[11.0] Request for adding Dutch translations to purchase_discount module"
Sorry up front if i stated this issue wrong, but it is my first time doing this.

I would like to add my Dutch translations to the purchase_discount module.

Any help doing so and showing me the correct workflow is highly appreciated.

Kind regards

[2018-09-13 10:01] pedrobaeza commented on #580
You have to use http://translation.odoo-community.org/ for that. Follow https://odoo-community.org/blog/our-blog-1/post/translations-platform-81.

[2018-09-13 10:01] #580 closed, assigned to nobody

[2018-09-13 10:04] JordyBlankestijn commented on #580
Thank you Sir.

[2018-09-27 00:13] OCA-git-bot opened #591 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] procurement_purchase_no_grouping - By @Tardo - #702
- [x] product_supplierinfo_discount - Merged in product_discount - By @eLBati - #668
- [x] purchase_commercial_partner - By @alexis-via - #643
- [x] purchase_delivery_split_date - By @bjeficent - #618
- [x] purchase_discount - ~~By @sudhir-

[2018-10-26 07:33] pedrobaeza commented on #465
Closing as there's PR

[2018-10-26 07:33] #465 closed, assigned to sbidoul, Cedric-Pigeon, rousseldenis, LoisRForgeFlow, etobella

[2018-11-05 11:51] CasVissers-360ERP commented on #562
I can confirm this bug. @gustavovalverde Did you already find time to create a fix?

[2018-12-10 12:57] Montxu commented on #461
purchase_order_revision #621

[2018-12-16 08:58] bodedra commented on #495
@balagopalr22 I can not able to reproduce same. IMO here you may find reference https://github.com/OCA/purchase-workflow/blob/10.0/purchase_discount/models/account_invoice.py#L10 of code, which will pass discount from purchase order line to invoice line.

@pedrobaeza we can close these issue.

[2018-12-16 09:45] bodedra commented on #457
Good to close.

[2018-12-16 11:04] #457 closed, assigned to LoisRForgeFlow

[2018-12-16 11:05] #495 closed, assigned to nobody

[2018-12-18 18:43] legalsylvain opened #623 "[RFC] refactoring discounts OCA modules"
Hi @all,

At my company, I'm using discount features on purchase.order.
For the time being, just for the purchase part, I have to install 4 modules :
1. ``purchase_discount`` (OCA head version 11.0 https://github.com/OCA/purchase-workflow/tree/11.0/purchase_discount)
2. ``purchase_supplierinfo_discount`` (OCA head version 11.0 https://github.com/OCA/purchase-workflow/tree/11.0/product_supplierinfo

[2018-12-19 10:28] pedrobaeza commented on #623
OK for me, as dependencies doesn't change, but there's already a migration ongoing in #608

[2018-12-29 00:59] emagdalenaC2i commented on #591
Please, add to the list purchase_open_qty - By @bjeficent - #617

Please, add to the list purchase_order_line_sequence - By @bjeficent - #613

[2018-12-29 01:37] emagdalenaC2i commented on #461
@pedrobaeza purchase_delivery_split_date - By @hizbul25 - #511 is closed and superseded By @jbeficent - #584 that is already migrated and merged

purchase_open_qty - By @andreasdsp - #554 is closed and superseded By @mreficent - #602 that is already migrated and merged

Please, check product_supplierinfo_discount - By @DarkoNikolovski - #534 - By @cubells - #592 because it is already merged

Pleas

[2019-01-06 22:19] emagdalenaC2i commented on #461
@pedrobaeza Please, check purchase_order_approval_block - By @jbeficent - #480 because it is already merged

[2019-01-07 11:28] #562 closed, assigned to nobody

[2019-01-09 17:51] altoch opened #628 "[11.0] product_supplierinfo_discount discount applied twice on product receive"
module: product_supplierinfo_discount
version: 11.0

**Steps to reproduce**
Install the module, set the supplier price with discount on it.
Create a purchase order to the supplier, add the product. Confirm it and receive it.
**Current behavior**
On purchase confirmation the price and discount is correct.
For example price unit 100, discount 10%, price subtotal 90
Now, receive the goods, return to

[2019-01-15 09:26] altoch commented on #628
I close it cause it's the father discount order line module fault

[2019-01-15 09:26] #628 closed, assigned to nobody

[2019-01-15 09:40] altoch opened #631 "[11.0] Purchase discount reapplied on product receive"
module: purchase_discount
version: 11.0

· Steps to reproduce
Install the module on a clean instance of odoo 11.
Create a purchase order to the supplier, add the product and add the discount. Confirm it and receive it.
· Current behavior
On purchase confirmation the price and discount are correct.
For example price unit is 100 €, discount 10%, price subtotal 90 €
Now, receive the goods, return to

[2019-01-15 10:00] pedrobaeza commented on #631
This is not happening in my tests. You should have something that is perverting the behavior. Please try in and record a video if reproducible:

https://runbot.odoo-community.org/runbot/142/11.0

[2019-01-15 10:04] altoch commented on #631
I'm trying to validate a reception, it's giving me an error:
![image](https://user-images.githubusercontent.com/6033322/51173219-43f83d00-18b5-11e9-9263-329a3310a4b1.png)

[2019-01-15 10:06] pedrobaeza commented on #631
This repository has landed cost activated. Just remove that part.

[2019-01-15 10:08] altoch commented on #631
Ok, it's happening on your instance

[2019-01-15 10:10] altoch commented on #631
Check Purchase Order
PO00011 and Purchase Order
PO00012

[2019-01-15 10:11] altoch commented on #631
Sorry, I'm gonna record it.

[2019-01-15 10:14] altoch commented on #631
https://www.youtube.com/watch?v=LfQ10AbsIU4&feature=youtu.be

[2019-01-15 11:55] altoch commented on #631
Ok, it's happening on the runbot instance too, so it is not me
Check Purchase Order
PO00011,PO00012 and PO00013
The record:  https://youtu.be/LfQ10AbsIU4

[2019-01-15 12:33] altoch commented on #631
If I remove from the models stock_move.py file and reinstall the module it works again like on 10.0

[2019-01-18 03:59] #386 closed, assigned to nobody

[2019-01-20 11:16] altoch commented on #631
@pedrobaeza
Buenos días Pedro, no se si lo viste pero deje el enlace al video, se reproduce el mismo problema en la instancia que montaste en runbot.
No quiero ser pesado, solo cerciorarme que tal y como me pediste puedas ver el video de 30 segundos,  supongo que tendrás cosas mucho más importantes.

[2019-01-20 11:19] pedrobaeza commented on #631
I have seen it, but not being able to analyze.

[2019-01-24 20:37] altoch opened #633 "[11.0] Generated purchase request always gets requested by Administrator"
module: purchase_request
version: 11.0

**Steps to reproduce**
Confirm a sales order that triggers a purchase request from any user different than default admin user
- ...

**Current behavior**
Requested user is always the default admin, not the one that confirmed the sales order or the assigned comercial.

**Expected behavior**
Set the request user to the sales order comercial or user that confir

[2019-01-26 17:16] Nikul-Chaudhary commented on #591
@OCA-git-bot purchase_order_line_description #636

[2019-01-26 18:05] Nikul-Chaudhary commented on #591
@OCA-git-bot purchase_minimum_amount #637

[2019-01-26 18:27] Nikul-Chaudhary commented on #591
@OCA-git-bot purchase_order_approval_block #638

[2019-01-27 13:00] Nikul-Chaudhary commented on #591
@OCA-git-bot purchase_order_secondary_unit #641

[2019-01-28 13:10] gustavovalverde commented on #562
As a follow-up on the fix. This is still not working with FIFO valuation. cc: @pedrobaeza

[2019-01-28 13:14] pedrobaeza commented on #562
I already put 90ca5317705b711aa75932df99c0f581a40db218 for that, but if you are not more explicit or give some insights... I'm not using FIFO.

[2019-01-28 13:39] gustavovalverde commented on #562
Yes, I meant that after applying 90ca531 I got the same result, the stock move being recorded with the price before the discount (not after). I tested with AVCO and it works alright with 90ca531, but it doesn't if FIFO is being used.

[2019-01-28 13:42] pedrobaeza commented on #562
OK, but then we need more insights, as the method executed in FIFO should be other than the referred in this issue.

[2019-01-28 13:48] gustavovalverde commented on #562
Oh, ok my bad. I thought of functional insight. I'll debug and let you know.

[2019-01-28 20:27] altoch commented on #633
I did open a PR https://github.com/OCA/purchase-workflow/pull/640 but I'm not able to pass the tests

[2019-02-01 22:18] pedrobaeza commented on #631
This is fixed in 2ba8c549442e17b935a638ee74e6c638e9433c99

[2019-02-01 22:18] #631 closed, assigned to nobody

[2019-02-05 21:14] altoch opened #647 "[11.0] Purchase request duplicated if route procurement rule action is buy"
When a sale order triggers a purchase request, if the selected route has a procurement rule with action buy (don't confuse with route named buy, which also has the action buy), It generates two identical purchase requests, with different procurement group id.  The first the same as the sales order procurement group and the other id incremented by 1.

This  happens on route's to buy and route drops

[2019-02-05 21:20] #647 closed, assigned to nobody

[2019-02-14 10:42] HviorForgeFlow commented on #633
@altoch please confirm problem are properly solved in PR you proposed

[2019-02-21 10:21] abdallamhafeez opened #656 "[11.0] purchase_order_line_stock_available: multi warehouse"
Hello

I have an issue with module "purchase_order_line_stock_available" with a multi-warehouse that appears total forecasted quantity.

Expected:
Appear forecasted quantity of the warehouse that should be in RFQ

[2019-02-26 15:15] marcelawiater opened #661 "State 'Approved' not working"
I've installed Your module recently and I have 'approved' state not working. After approving by a manager, a purchase order is created straight and automatically. The only thing that is working is coming back to the draft stage. I would be very very greateful if You could improve that, please.
Regards,
Marcela

[2019-02-26 15:49] pedrobaeza commented on #661
Which module? Which version?

[2019-02-27 07:08] marcelawiater commented on #661
Module Purchase Order Approved, v.11

wt., 26 lut 2019 o 16:49 Pedro M. Baeza <notifications@github.com>
napisał(a):

--

Physiolution Polska sp. z o.o.

ul. Piłsudskiego 74

50-020
Wrocław

NIP: 8992813028

tel.: 713 357 648, mail: info@physiolution.pl
<mailto:info@physiolution.pl>, www: physiolution.pl
<http://physiolution.pl>

[2019-02-27 08:21] rousseldenis commented on #661
@marcelawiater Have you enabled the feature in settings ?

See https://github.com/OCA/purchase-workflow/tree/11.0/purchase_order_approved#id2

[2019-02-27 10:59] marcelawiater commented on #661
I enabled 'order approval' in sales' settings is there anything more to
enable?

śr., 27 lut 2019 o 09:21 Denis Roussel (ACSONE) <notifications@github.com>
napisał(a):

--

Physiolution Polska sp. z o.o.

ul. Piłsudskiego 74

50-020
Wrocław

NIP: 8992813028

tel.: 713 357 648, mail: info@physiolution.pl
<mailto:info@physiolution.pl>, www: physiolution.pl
<http://physiolution.pl>

[2019-02-27 15:50] LoisRForgeFlow commented on #661
@marcelawiater can you reproduce the issue in runbot?

[2019-02-28 12:15] marcelawiater commented on #661
Ok, I used the runbot and it seems that it has this option I would like to
have in it's options, as shown in the attached picture. The problem is,
that I downloaded the module and I don't have this option in my menu.

śr., 27 lut 2019 o 16:50 Lois Rilo <notifications@github.com> napisał(a):

--

Physiolution Polska sp. z o.o.

ul. Piłsudskiego 74

50-020
Wrocław

NIP: 8992813028

tel.: 713 357 648

[2019-02-28 12:16] pedrobaeza commented on #661
Then the problem is that you haven't installed correctly the module. This is not something we can't fix here and out of the scope of this issue tracker. If you have doubts about how to deploy things, please ask them in the Odoo official forums.

[2019-02-28 12:16] #661 closed, assigned to nobody

[2019-02-28 14:04] marcelawiater commented on #661
Ok then, thank You very much for help anyway.

czw., 28 lut 2019 o 13:16 Pedro M. Baeza <notifications@github.com>
napisał(a):

--

Physiolution Polska sp. z o.o.

ul. Piłsudskiego 74

50-020
Wrocław

NIP: 8992813028

tel.: 713 357 648, mail: info@physiolution.pl
<mailto:info@physiolution.pl>, www: physiolution.pl
<http://physiolution.pl>

[2019-03-11 14:37] rafamarpe opened #667 "[11.0][purchase_landed_cost] error when loading the delivery notes"
Hi.
We have tested the module purchase_landed_cost we have created an order with your delivery voucher and then we have generated and validated your invoice.
Then we have created an invoice from another supplier and the product of this invoice we wanted to allocate it on the cost of the articles of the delivery note of the first order.
We have seen in Known issues / Roadmap that indicates Ability

[2019-03-11 14:38] pedrobaeza commented on #667
An error in frontend is very weird for a backend module. Can you see any log in the server?

[2019-03-11 15:08] rafamarpe commented on #667
we have executed it in rubot, we see if we can debug it and give more information

[2019-04-04 07:22] kurogeek opened #670 "[11.0][purchase_landed_cost] error when trying to add an item on "Import landed cost from pickings""
Hi,
I have tested the module purchase_landed_cost on Odoo 11. I got an error when I was trying to "Import landed cost from pickings" from vendor bills.

Step to reproduce the error. Go to Purchases -> vendor bills -> select any vendor bill -> click on Landed costs tab -> click on "IMPORT FROM PICKINGS" -> then try to add an item.

And we will have this error.

Error:
Error: TypeError: 'float' obje

[2019-04-05 09:21] pedrobaeza commented on #670
Should be fixed in 59a54948189f3da66f15de20e6edc55e5d0ffef1

[2019-04-05 09:21] #670 closed, assigned to nobody

[2019-05-04 10:03] usmanfarzandali commented on #591
pls add product_supplierinfo_discount

[2019-05-05 09:25] pedrobaeza commented on #591
@odoogit you shouldn't use that misleading nickname. About your request, added.

[2019-05-07 08:41] kittiu commented on #591
@pedrobaeza purchase_line_procurement_group is not checked in the above list yet. :)
https://github.com/OCA/purchase-workflow/pull/672

[2019-05-07 09:11] dekdeegoodboys commented on #591
@pedrobaeza purchase_supplierinfo_discount (WIP) https://github.com/OCA/purchase-workflow/pull/680

[2019-05-13 05:28] livingmine opened #683 "[11.0][purchase_request] Expected singleton in _compute_line_count"
**Steps to reproduce**
Browse the ```line_count``` field from purchase request records so that ```_compute_line_count``` is triggered.

**Current behavior**
Error expected singleton is thrown. Simply because the method is not using ```for rec in self``` in the beginning of the code.

**Expected behavior**
No error is thrown.

Is there any reason why there is no ```for rec in self``` in the beginni

[2019-05-13 09:52] LoisRForgeFlow commented on #683
You are correct, please could you open a PR to fix it?

[2019-05-22 16:52] hugosantosred commented on #558
We are experiencing problems with purchase_discount module also in v11.

For example a Purchase Order with one line of a product with a price unit of 23.10 * 50 units and a discount of 1%, the subtotal amount computed for that line is 1143.50

Then validate and invoice the order, the line in the invoice is still the same with 50 units at 23.10 each and a discount of 1% but the computed subtotal am

[2019-05-22 17:43] pedrobaeza commented on #558
which tax round policy do you have? Can you design a test to be added to the module that proves the problem?

[2019-05-23 10:07] hugosantosred commented on #558
@pedrobaeza I've made a PR with the tests for check if the price_subtotal is equal between invoice and purchase.

https://github.com/OCA/purchase-workflow/pull/685

[2019-06-01 21:02] emagdalenaC2i commented on #591
Please, check purchase_tier_validation - By @naglis - #652 that is closed, superseed and merged - By @lreficent - #688

Please, add to the list purchase_request - By @554513154 - #645

Please, add to the list purchase_commercial_partner - By @alexis-via - #643

[2019-06-11 08:26] khaledhathout opened #692 "odoo 11 - purchase Request manager can approve any purchase request"
module: purchase_request
version: 11.0

I have an issue related to an approved request - anyone has authority as purchase Request manager. He can approve any purchase request regardless of approver fields

[2019-06-15 15:40] karlggest opened #701 "[11] odoo field state using in attribs must be in view but it is missing in Purchase_order_secondary_unit"
Hi.

I try to install purchase_order_secondary_unit it fails with the message:
`field state using in attribs must be in view but it is missing in`

If I add the line
`<field name="state" invisible="1"/>`
in the first xpath (line 11) it seems to works.

It's the right arrangement to this?

Thanks and regards.

[2019-06-15 22:16] pedrobaeza commented on #701
Is this happening in runbot?

[2019-06-16 16:09] karlggest commented on #701
Hi.

I think I can't even using that: http://runbot.odoo.com/runbot

I test this module downloading the entire repo (as product-attribute and sale-workflow too) in a test odoo install (CentOS, odoo 11, python 3, venv). I have a few databases, and try to install this module. One of my databases showed an error but module works (but no control of stock, sales shows "no stock" even if in report->inve

[2019-06-17 18:39] pedrobaeza commented on #701
I meant OCA runbot:

![Selección_038](https://user-images.githubusercontent.com/7165771/59628043-f885db80-913f-11e9-8f91-d6b4e8db0d8e.png)

https://runbot.odoo-community.org/runbot/142/11.0

[2019-06-20 16:52] karlggest commented on #701
Hello!

As I understand this, the system has the module already installed. I try it, see orders with secondary unit, all ok.

In my system works too with the workaround I wrote. But fails without it, except in one database works

Thanks for your help.

[2019-06-22 01:09] pedrobaeza commented on #701
But the problem is due to a module you have then, not by this module itself. Please check which one is conflicting.

[2019-06-22 01:09] #701 closed, assigned to nobody

[2019-06-22 17:16] karlggest commented on #701
Well, If you mean an odoo official module, I don't know. I start a blank database with sales, puchases and inventory modules, add secondary unit modules, and it fails. I can't see a difference between sales_secondary_unit and purchases_secondary_unit. Really, where it works without changes is in the most different (a few different test tools, even POS). In that database it works fine and doesn't s

[2019-06-23 22:01] pedrobaeza commented on #701
So you mean that installing an additional module, it doesn't fail? But it does on a fresh one?

[2019-06-25 10:33] karlggest commented on #701
Hello.

I tried this module (and sales_secondary_unit and product_secondary_unit) in 4 databases:

* One test database similar to my production system. I have some OCA modules and a few special modules about POS. I installed the "secondary modules" and it works.
* Two test databases, mainly OCA modules, I use to my tests and learn. Both fails when I try to install purchase_secondary_unit, but sale

[2019-07-09 14:15] usmanfarzandali opened #714 "Wrong Discount Total on Purchase Analysis Report"
module: purchase_discount
version: 12.0

![imageedit_128_5073994774](https://user-images.githubusercontent.com/22232100/60895310-d7676500-a27d-11e9-8689-c86179220149.gif)

[2019-07-09 14:20] pedrobaeza commented on #714
The value put there is never going to be correct, as there's no formula for properly aggregate this value. Sum is not correct, but neither the average, and you can't totalize by any other way there.

If you want to add a comment in the README about this, a PR is welcome, but as said, this can't be fixed.

[2019-07-09 14:20] #714 closed, assigned to nobody

[2019-07-09 15:15] usmanfarzandali commented on #714
![imageedit_134_9758599113](https://user-images.githubusercontent.com/22232100/60900701-0e417900-a286-11e9-89c2-93247df98069.gif)

i don't know my code meet OCA Code Standard
but after minor modification my code working well .....
and also added one more field name Discount Amt

[2019-07-09 15:16] pedrobaeza commented on #714
But what happen when you have several purchases for the same product?

[2019-07-09 15:19] usmanfarzandali commented on #714
let me more testing ....

[2019-09-06 09:16] HaraldPanten commented on #591
Hi @pedrobaeza ,

I was wondering if purchase_location_by_line module (V11) should be migrated to V12 or maybe there's another way to assign a location to the different purchase order lines?

If so, we would manage this migration.

I know that we can manage this functionality by using Put Away Strategy, but dividing the purchase order in several pickings is what we would need.

Thanks in advance!

[2019-09-16 14:33] MiquelRForgeFlow commented on #498
This issue can be closed.

[2019-09-20 14:38] andreampiovesana opened #750 "purchase_order_approved not usable, configuration checkbox are invisible"
no checkbox in settings nor in company ...

[2019-09-20 16:50] patel1008b opened #751 "[11.0] purchase_request : ValueError: Expected singleton: purchase.request(2, 12)"
File "community/purchase-workflow/purchase_request/models/purchase_request.py", line 117, in _compute_line_count
    self.line_count = len(self.mapped('line_ids'))
ValueError: Expected singleton: purchase.request(2, 12)

[2019-09-23 05:17] #751 closed, assigned to nobody

[2019-09-29 21:45] OCA-git-bot opened #755 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [x] procurement_purchase_no_grouping - By @Tardo - #859
- [x] product_form_purchase_link - By @sudhir-erpharbor - #762
- [ ] product_supplier_code_purchase
- [x] purchase_allowed_product - By @Dariosi #1013
- [ ] purchase_analytic_global - By @sudhir-erpharbor - #867
- [x] purchase_blanket_order

[2019-10-01 16:52] Nikul-Chaudhary commented on #755
@OCA-git-bot  purchase_order_line_description -> #756

[2019-10-05 18:25] ccandito opened #758 "purchase_landed_cost: no stock revaluation stock account posting"
Dear All,
when changing the product unit price, a revaluation stock account posting is necessary as Odoo standard does in "update cost" in product cost.
Regards
claudio

[2019-10-06 11:42] pedrobaeza commented on #758
Module still doesn't covered this use case.

[2019-10-06 12:43] ccandito commented on #758
Thanks for your replay.
Yes, i know.
Without this feature the stock accounting is not aligned with logistica.
Regards
Claudio candito

Il giorno dom 6 ott 2019 alle 13:42 Pedro M. Baeza <notifications@github.com>
ha scritto:

[2019-10-14 06:05] sudhir-erpharbor commented on #755
Working on product_form_purchase_link #762

[2019-10-17 06:06] kittiu opened #766 "[IMP] purchase_request, lack of field analytic_tag_ids on line."
@hveficent @aheficent
Hello, I noticed that purchase.request.line do not have field analytic_tag_ids, while all other standard document, from expense, sale, purchase, invoice do have it.
Can we have it? (I can help doing it).
Note: we also need it to be used on what we developing on budget commitment on PR.
cc @ps-tubtim

[2019-10-17 07:40] AaronHForgeFlow commented on #766
Hi @kittiu, I think this would be a nice feature and it integrates well in Odoo as we have analytic tags in many documents. Just one thing, some companies does not use analytic tags. Thus, it would be nice if we can include an option to activate analytic tags or not depending on the use case.

[2019-10-17 08:40] kittiu commented on #766
@aheficent we will make the PR, following the same way as other document.
Thanks!

[2019-10-17 08:40] #766 closed, assigned to nobody

[2019-10-17 08:45] AaronHForgeFlow commented on #766
That is great. Thank you.

[2019-10-17 12:45] kittiu commented on #766
@Saran440 can you help?

[2019-10-21 14:00] yostashiro opened #770 "[11.0, 12.0] purchase_delivery_split_date README not up to date?"
This function mentioned in https://github.com/OCA/purchase-workflow/blob/11.0/purchase_delivery_split_date/README.rst doesn't seem to exist.  Should README be updated or am I missing something?

[2019-10-23 13:00] baimont opened #772 "[10.0] purchase_request - link for further information leads to 404"
Hi,
Link to get further information in readme of purchase_request module v10.0 leads to 404:
http://www.eficent.com/blog_en/streamline-your-purchasing-process-in-odoo-using-purchase-requests/
Thank you

[2019-10-25 02:41] kittiu opened #775 "Propose new addon "Purchase's Work Acceptance""
Hi, I want to use this place to see if anyone have similar need, or even this need already exists. Comments are welcome.

We have started some work (but not yet testable) here https://github.com/OCA/purchase-workflow/pull/774

## Overview

In public sector, once goods from the procurement process has been delivered, there is a step to receiving the work + doing quality check + grading the vendor o

[2019-10-25 03:15] kittiu commented on #775
cc @ps-tubtim

[2019-10-25 15:49] ghost opened #776 "[12.0][MIG] procurement_purchase_no_grouping: it doesnt't work properly"
I have created a new product "Service"  Type and I have configurated to buy automatically when the product is added to a sale order.
![04](https://user-images.githubusercontent.com/25029267/67584889-de43b600-f74e-11e9-94e9-6e561621bd26.png)

 I have added it to a new category with the value "No order grouping"
![02](https://user-images.githubusercontent.com/25029267/67584953-f61b3a00-f74e-11e9-994

[2019-10-25 15:51] pedrobaeza commented on #623
Can this be closed, @legalsylvain ?

[2019-10-25 15:54] pedrobaeza commented on #776
Services don't follow the same flow than goods one. An special bridge must be developed for that. Feel free to add that to the ROADMAP of the module.

[2019-10-25 15:54] #776 closed, assigned to nobody

[2019-10-26 03:59] kittiu commented on #755
Working on `purchase_open_qty` https://github.com/OCA/purchase-workflow/pull/777

[2019-10-28 06:31] yostashiro opened #778 "[12.0] purchase_request - cannot cancel PO with multiple lines"
With this module installed, you cannot cancel a purchase order with multiple lines for this server error:

[code]

[2019-10-28 08:57] HviorForgeFlow commented on #778
Solution proposed here https://github.com/OCA/purchase-workflow/pull/768 , could you review it?

[2019-10-31 12:59] astirpe commented on #755
purchase_order_archive #782

[2019-11-04 09:11] saxomanu opened #783 "[12.0] purchase_request : traceback when trying to create RFQ with line not approved"
When trying to make RFQ from not approved request, have a traceback :

[code]

[2019-11-04 09:25] HviorForgeFlow commented on #783
@saxomanu I can't reproduce your error on runbot. If purchase request line is not approved it is not possible to use Create RFQ action because a constraint is blocking for non approved lines.

Could you try on runbot? Thanks

[2019-11-05 07:29] kittiu commented on #755
Hi. I see the purchase_request_xxx addons is missing here.
Note: we would like to migrate some of them.

[2019-11-08 07:56] yostashiro commented on #778
Fixed by https://github.com/OCA/purchase-workflow/pull/784.

[2019-11-08 07:56] #778 closed, assigned to nobody

[2019-11-16 20:55] ovnicraft commented on #783
I confirm that approved is needed to create RFQ.

@saxomanu any news about this ? or can be closed.

[2019-11-18 11:25] #783 closed, assigned to nobody

[2019-11-21 13:20] jonerikceberio opened #794 "[11.0] Dealing with purchase cancellation with MTO"
Situation: a salesman makes a sale of a product configured as MTO, buy. A purchase is created, and the purchase manager confirms it. But someone thinks it would be a good idea to have some stock of the product, or changing the price, or something like that -> cancels the PO, modifies it and re-confirms it
Expected result: the picking is re-generated with everything linked to SO
Problem: the purcha

[2019-11-21 15:47] pedrobaeza commented on #794
Why do you cancel it instead of simply change the quantity in the PO line?

[2019-11-21 16:28] jonerikceberio commented on #794
Sorry, got that wrong: an example would be making the purchase to supplier A, and having the confirmation. But a couple of days later the provider calls you to inform you of a delay of the delivery, which you cannot accept. So you want to change the supplier.

[2019-11-21 19:51] pedrobaeza commented on #794
Indeed it requires to cancel the PO for changing the supplier.

I suggest that if you have that case frequently, remove the propagate=True in MTO stock rule and avoid the problem.

[2019-11-22 08:23] jonerikceberio commented on #794
Aha, correct, that was my first guess. I did try it and, surprise, surprise, did not work. If you check on [the method that creates the move from the purchase line](https://github.com/odoo/odoo/blob/9e67525418b3b0a48a796044ef24b227946ceb8f/addons/purchase/models/purchase.py#L736) you see clearly that the propagate is NOT used, so it will always be the default value = True (point being that there i

[2019-11-22 08:29] pedrobaeza commented on #794
I think you can expose the case to Odoo or do a PR against core for being discussed there, as it's worth mentioning. Although this probably should go to master branch, not 11.0.

[2019-11-25 14:49] jonerikceberio commented on #794
The bug is present in 11 and 12. In 13 has been repaired with [PR 33803](https://github.com/odoo/odoo/pull/33803): what they do is create a field in the purchase order line to propagate the propagation (forgive the repetition). So I guess that's all, the only alternative would be a backport.

[2019-11-25 14:59] pedrobaeza commented on #794
Well, an OCA module incorporating that can be the solution, but AFAIK it seems to be linked to mrp, not to purchase.

[2019-11-25 15:26] jonerikceberio commented on #794
No, it is purchase/stock (v11) or purchase_stock (v12). See how the propagate value has been incorporated to the creation of the move from the pol:

- [v12 without any propagate](https://github.com/odoo/odoo/blob/8169e34a2230b9a2aff359dc6a69b59c04fc9908/addons/purchase_stock/models/purchase.py#L318)
- [v13 with new propagate](https://github.com/odoo-dev/odoo/blob/3136ddb7e497c8d23ef51f2f0ae3f740d2

[2019-11-25 15:54] pedrobaeza commented on #794
OK, I see, thanks for the insights, so everything is set. Let's go for the module!

[2019-11-28 13:15] pegonzalezspesol commented on #755
work in progress in module purchase_tier_validation #808

[2019-12-02 16:37] jonerikceberio commented on #794
Closed into PR #813

[2019-12-02 16:37] #794 closed, assigned to nobody

[2019-12-03 21:07] Jerther commented on #591
Would that be ok if I migrated some or all these modules from 10.0 to 12.0, skipping 11.0: `purchase_requisition_auto_rfq`, `purchase_requisition_bid_selection` and `purchase_requisition_auto_rfq_bid_selection`

[2019-12-03 21:09] pedrobaeza commented on #591
Yes, I think it's ok.

[2019-12-03 21:11] Jerther commented on #591
@pedrobaeza Alright, I'm on it then!

[2019-12-10 09:37] morekvn opened #818 "[12.0][Subcontracting Service]"
I can't operate the "Subcontracting Service" module once installed, I modified a "Product" and duplicated a "SalesOrder"
( "storable" products and sales order that works before, they do create a "request for quotation" ):

Change the Product Type to "Service".
Tick the "Subcontracted Service" box
Add a "Vendors"

I create a Sales Order but no Request for Quotation is created.
I have looked in my w

[2019-12-12 10:19] kongrattapong commented on #755
purchase_request #804

[2019-12-13 19:41] Jerther commented on #591
@pedrobaeza purchase_requisition_auto_rfq https://github.com/OCA/purchase-workflow/pull/822

This will be the only module of the three I said I would migrate. I was mistaken about what the other modules did. I thought they were about the selection of partial RFQs, you know, that [feature that's been cut off in 2016](https://github.com/odoo/odoo/commit/ff110b0ed8f9e50e5e523bbad696e40a8a5555e3). We

[2019-12-17 09:54] yostashiro opened #826 "purchase_landed_cost - design rationale for only handling average costing method"
It seems that, in purchase_landed_cost module, revaluation of stock move `value` only takes place for average costing method.  Is there a reason it does not handle FIFO costing method?  I was looking at the module for 12.0.

[2019-12-17 10:02] pedrobaeza commented on #826
Reason is that it was not needed for us and thus, a not included feature.

[2019-12-17 10:02] #826 closed, assigned to nobody

[2019-12-18 06:41] kongrattapong commented on #755
purchase_force_invoiced https://github.com/OCA/purchase-workflow/pull/828

[2019-12-18 06:59] kongrattapong commented on #755
purchase_order_approved https://github.com/OCA/purchase-workflow/pull/829

[2019-12-18 09:44] kongrattapong commented on #755
purchase_product_usage https://github.com/OCA/purchase-workflow/pull/830

[2019-12-24 10:55] manuelcalerosolis opened #834 "[12.0] Purchase triple discount error in runbot"
Working with this module we have discovered an error that also occurs in the runbot.

We create a new purchase with the following data.

units: 48
Price: 0.33
discount: 5%
total order: 15,05

![image](https://user-images.githubusercontent.com/3088246/71409638-a4a20500-2642-11ea-932e-53fe3abe820d.png)

These calculations are correct.

We confirm the budget, and receive the products.

![image](https

[2019-12-24 11:33] legalsylvain commented on #834
Check rounding errors.
See :
48 * .33 * .95  = 15.05....
48 * round(.33 * .95, 2)  = 14.88...

[2019-12-24 11:51] manuelcalerosolis commented on #834
If I uninstall the modules "tripe_discount" the calculations are correct.

![image](https://user-images.githubusercontent.com/3088246/71411999-e5524c00-264b-11ea-902d-050b4dd2de3f.png)

Something is wrong with these modules.

[2019-12-24 12:54] manuelcalerosolis commented on #834
The only solution is to completely rewrite the method "_compute_price".

I know it is not a good idea, possible changes in this method will not be contemplated, and this is dangerous.

The ideal would be to propose a change so that the price of the product already with discounts is in a single method, and the code is not so coupled.

Do you think anyone would listen to this proposal?

class Accoun

[2020-01-08 09:01] pegonzalezspesol commented on #755
@pedrobaeza small thing:
#808 was already migrated and the "Modules to migrate" not updated

[2020-01-08 09:04] pedrobaeza commented on #755
Well, I'm not anymore OCA's community manager (I left the board for this year) and I'm not maintaining manually anymore all this stuff.

I have proposed https://github.com/OCA/oca-github-bot/pull/97 for helping on the maintenance of this stuff.

[2020-01-08 15:24] jjscarafia opened #837 "[12.0] issue when upgrading purchase_request module"
While upgrading a database from v11 to v12 we get the following error:
[code]

This move lines are all from the same move, they are of a product that use lots. So it's a purchase request of 4 units solved with 4 stock.move.line that represents each input for each lot.

We're not familiar to the changes on the models but we believe the issue is that the method "allocate_from_stock_move" [is called

[2020-01-08 15:25] jjscarafia commented on #837
Hi @AaronHForgeFlow ! Thanks for the migration of this module.
Can you point us on which direction we should go to fix this issue?
Thanks!

[2020-01-14 14:02] sa3m commented on #755
purchase_discount #844

[2020-01-22 08:57] Cedric-Pigeon opened #848 "Question on purchase_triple_discount"
Hi Community,

I have currently a need for one of my customers to manage triple discounts on purchase order.
I had a look at purchase_triple_discount and it seems to be a good clue.
The only difference is that my customer manages its discounts depending on qty levels.
Example:
Purchase price : 50 €/Pc
Discount 1: 10 PC -> 20%
Discount 2: 20 Pc -> 10 %
....
Order for 8 PC: 8 x 50 = 400
Order for 11

[2020-01-22 08:57] Cedric-Pigeon commented on #848
@pedrobaeza Any opinion on that?

[2020-01-22 21:43] pedrobaeza commented on #848
It should work thanks to this code:

https://github.com/OCA/purchase-workflow/blob/c237c9a6aca03dfa17cdcd45ebb49776892ff43c/purchase_triple_discount/models/purchase_order.py#L41-L46

[2020-01-23 08:44] legalsylvain commented on #848
It should perfectly work.

[2020-01-23 09:07] Cedric-Pigeon commented on #848
Yes now I got it.

Thanks a lot for your clue.

[2020-01-23 09:07] #848 closed, assigned to nobody

[2020-01-28 08:11] firmanazis opened #850 "[11.0] purchase_discount rounding error"
The way purchase_discount module compute discount has bug that may cause inaccurate rounding, due to rounding when assign discounted price to line.price_unit. Especially if the price_unit * discount results a float number with decimal digits more than what defined on 'Product Price' of Decimal Accuracy (decimal.precision model). For example 30% * 50.26 = 35.18**2**.

[code]

One workaround is obvi

[2020-02-11 13:11] hitrosol commented on #818
I have the same question, but related to the subcontracting in manufacturing.  We need more detail about how use it in the in Readme file.

[2020-02-12 14:15] zlobb opened #858 "[12.0]purchase_order_line_deep_sort Add a module for sales order?"
https://github.com/OCA/purchase-workflow/tree/12.0/purchase_order_line_deep_sort
Hi,
Add a module for sales order?

[2020-02-12 14:20] pedrobaeza commented on #858
There isn't such module for now.

[2020-02-12 14:20] #858 closed, assigned to nobody

[2020-02-12 14:24] zlobb commented on #858
How can such modules be developed, or paid for?

[2020-02-12 14:25] pedrobaeza commented on #858
You can ask on contributors list if someone wants to develop it.

[2020-02-12 14:32] zlobb commented on #858
ok,
thank you.

[2020-02-21 11:43] kongrattapong commented on #755
purchase_deposit https://github.com/OCA/purchase-workflow/pull/861

[2020-02-25 03:07] phuctranfxvn commented on #755
Working on purchase_quick #865

[2020-02-25 07:54] sudhir-erpharbor commented on #755
Working on purchase_commercial_partner #868

[2020-02-26 08:08] sudhir-erpharbor commented on #755
Working on purchase_analytic_global #867

[2020-02-27 06:36] HAISON2019 opened #869 "Cannot view the completed order, and there is no order type"
module: purchase_order_type
version: 12.0

**Steps to reproduce**
After the "purchase_order_type" module is installed, the previously completed order cannot be edited. It is prompted to fill in the order type, but it cannot be selected after re-editing.
- ...

**Current behavior**

**Expected behavior**

[2020-02-28 20:22] mithatcak commented on #692
I have the same issue. I think only the approver should be able to approve. Why do we need to specify an Approver, if any Purchase Request Manager can approve?

[2020-02-29 08:34] sudhir-erpharbor commented on #755
Working on purchase_order_line_stock_available #870

[2020-03-18 13:44] qzmxs opened #879 "[12.0]purchase_deposit，Conflict with other modules"
module: purchase_deposit
version: 12.0

**Steps to reproduce**
- ...
purchase_deposit with [purchase_stock_picking_return_invoicing] Conflict modules
**Current behavior**
There is no problem installing these two modules separately. If the combined installation prevents the (product) bill from being created, you can only create (prepay) the product.
**Expected behavior**

[2020-03-18 15:17] pedrobaeza commented on #879
Please don't duplicate the same issue in both repos, and more without enough information. Closing this one for continuing in the other.

[2020-03-18 15:17] #879 closed, assigned to nobody

[2020-03-18 18:31] NCS-75 opened #880 "[13.0] [BUG]"purchase_product_usage" module > Issue when adding "Product lines on invoice form"
When trying to add "product" (mean move line) on invoice form (customer or supplier) . There is, not VAT computed....

@JordiBForgeFlow
Context : OCB 13.0 Odoo Server up to date (03/18/2020), with Virgin database , to reproduce issue faced on my test environnement, and also on runbot : https://runbot.odoo-community.org/runbot/142/13.0

- "purchase_product_usage" module, up to date, from "https://g

[2020-04-29 05:27] ps-tubtim commented on #755
Working on purchase_delivery_split_date https://github.com/OCA/purchase-workflow/pull/900

[2020-05-08 16:48] HaraldPanten commented on #755
Working on purchase_location_by_line https://github.com/OCA/purchase-workflow/pull/911

[2020-05-11 10:27] ps-tubtim commented on #755
Working on purchase_triple_discount https://github.com/OCA/purchase-workflow/pull/912

[2020-05-18 14:51] NCS-75 commented on #880
Sorry for late answer
Issue is fixed
Lgtm
Thanks for your contribution

[2020-05-18 14:51] #880 closed, assigned to nobody

[2020-05-23 23:02] Rad0van commented on #755
purchase_reception_status #917

[2020-05-25 16:41] uncle-buzz opened #918 "Purchase Open Qty doesn't correctly deal with units"
Odoo 12.0, with module Purchase Open Qty, On a purchase order, product_qty qty_received qty_to_invoice and qty_invoiced fields depend on product_uom field (dozen by example) on the line, but qty_to_received depends of units in product configuration (unit by example) (I presume, I did'nt check where .

So if I purchase 1 hundred of products and receive 100 units, all fields are correct (1 (hundred)

[2020-05-26 08:19] uncle-buzz commented on #918
[code]

**line.product_uom_qty** stores the quantity of product depending on the unit set in product_template, **line.product_qty** is the quantity of product depending on the unit set in the purchase order line in **line.product_uom**.
We shouldn't use **line.product_uom_qty** as total and removing move values converted to **line.product_uom** since they don't have the same unit.
Replacing **line

[2020-05-26 09:23] HviorForgeFlow commented on #918
Hello @uncle-buzz, it would be great if you could propose this fix as a PR. Thanks!

[2020-05-26 09:36] uncle-buzz commented on #918
I'm new to GitHub and I don't know how doing this... And I'm new to odoo also, I'm not sure the correction I tried is the correct one, if it's conform to the meaning of these fields and if there is no side effect...
It would be probably a better thing to let some experts about this module to valid or find another way to deal with this issue...

[2020-05-26 09:39] HviorForgeFlow commented on #869
As there is no way to know which order_type is going on each purchase that is already completed, it can't be performed as a migration script.

You cannot perform the action as completed purchases are in state done. You could try defining a server action that writes that field. It may do the trick.

@nicomacr Why default is defined this way? https://github.com/OCA/purchase-workflow/blob/4bdc05e655c

[2020-05-26 14:47] tonygalmiche commented on #755
purchase_order_line_deep_sort : https://github.com/OCA/purchase-workflow/pull/919

[2020-05-26 15:02] tonygalmiche commented on #755
Others PR :
- purchase_blanket_order : https://github.com/OCA/purchase-workflow/pull/891
- purchase_order_product_recommendation_brand : https://github.com/OCA/purchase-workflow/pull/883

[2020-05-29 10:01] HviorForgeFlow commented on #837
Fix already merged

[2020-05-29 10:01] #837 closed, assigned to nobody

[2020-06-03 01:30] qingaa1111 opened #920 "[13.0]purchase_deposit Odoo13 error"
module: purchase_deposit
version: 13.0

Hi, when i try to install the purchase deposit module ,below error message comes.

Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/tools/cache.py", line 85, in lookup
    r = d[key]
  File "/usr/lib/python3/dist-packages/odoo/tools/func.py", line 69, in wrapper
    return func(self, *args, **kwargs)
  File "/

[2020-06-03 06:49] pedrobaeza commented on #920
You have an incorrect path or custom module called `Purchasewc`, as shown in the trace.

Closing as invalid.

[2020-06-03 06:49] #920 closed, assigned to nobody

[2020-06-04 02:09] qingaa1111 commented on #920
Thanks, it's indeed caused by the invalid path. after i changed the correct path name, it's work well.

[2020-06-08 12:30] NCS-75 opened #927 "[13.0] [BUG]"purchase_product_usage" module > Issue when adding "move lines on invoice form"
When trying to add "Invoice line"  **without specifying** a product_id, on invoice form (customer or supplier) . There is, no possibility to fill up the account_id field....

Context : OCB 13.0 Odoo Server up to date [(06/02/2020),] with Virgin database , to reproduce issue faced on my test environnement, and **also on runbot** : http://3425964-13-0-f5c951.runbot1.odoo-community.org/

    "purchas

[2020-06-30 14:36] abl-scopea opened #932 "Impossible to avoid grouping for a RFQs coming from a manufactured product"
Hello all,

We found an strange behaviour :
- we launch a Manufacture Order to produce a product
- this product has a BOM with, for example 2 products (A & B)
- the product A is set with MTO+buy to Vendor 1
- the product B is set with MTO+buy to Vendor 2

However when we check the availability doing the MO :
- if standard grouping has been ticked => product A is added to an existing RFQ with Vendo

[2020-07-07 14:56] NCS-75 commented on #927
Hi
@JordiBForgeFlow   'author': "Eficent, "
@pedrobaeza
@ValentinVinagre  #909 #880
Did someone reviewed the bug ? (#927)

[2020-07-16 07:37] HviorForgeFlow opened #943 "[13.0] Error when uninstalling purchase_isolated_rfq"
Steps to reproduce:
- Install purchase_isolated_rfq
- Create a RFQ and convert to purchase
- Uninstall purchase_isolated_rfq
- Try to access to Purchase App, next error is shown:
[code]

CC @kittiu @kongrattapong

[2020-07-16 07:39] HviorForgeFlow commented on #943
By the way it can be solved updating purchase module

[2020-07-16 08:19] kittiu commented on #943
@HviorForgeFlow right, may be we need to write script to clear it during uninstallation. I will check. Thank you for finding.

[2020-07-16 10:24] kittiu commented on #943
Fixed provided here, https://github.com/OCA/purchase-workflow/pull/944

[2020-08-18 02:43] jjscarafia opened #964 "[11.0, 12.0] purchase_landed_cost only working for cost type average"
Is there any reason why this module is only working for cost_method = average?
Check [this line](https://github.com/OCA/purchase-workflow/blob/11.0/purchase_landed_cost/models/purchase_cost_distribution.py#L271)

@pedrobaeza any idea about this?
Thanks!

[2020-08-18 07:31] pedrobaeza commented on #964
The module is simply not prepared for other costing methods. For the others, you have stock_landed_cost

[2020-08-18 16:57] jjscarafia commented on #964
Thanks

[2020-08-18 16:57] #964 closed, assigned to nobody

[2020-08-25 20:02] nicomacr commented on #755
Working on purchase_all_shipments #965

[2020-08-28 13:53] quentinDupont commented on #380
Seems that it's now cover by your module https://github.com/OCA/purchase-workflow/tree/12.0/purchase_manual_delivery :slightly_smiling_face:

[2020-09-01 09:10] mm82299 opened #970 "Purchase Order Approved"
Dear All,
I have downloaded and installed the module **Purchase Order Approved** but couldn't find where to configure the list of approver for the PO.
Thanks

[2020-09-02 08:40] youring opened #971 "[13.0] purchase_isolated_rfq cancel RFQ raise error"
Try on runbot, create a new RFQ, save, and click the Cancel button, raise error,
`Error:
Odoo Server Error

Traceback (most recent call last):
  File "/.repo_requirements/odoo/odoo/http.py", line 624, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/.repo_requirements/odoo/odoo/http.py", line 310, in _handle_exception
    raise pycompat.reraise(type(ex

[2020-09-11 16:33] tarbib opened #975 "[13.0] procurement_purchase_no_grouping will group PO lines in one RFQ even if two different suppliers are set on the products"
Steps to reproduce (tested on OCA runbot) :
Allow "MTO" and "Buy" routes on product categories
![image](https://user-images.githubusercontent.com/2255433/92950018-5052e580-f45c-11ea-8359-aa9c2ac7ad40.png)

"Procured purchase grouping | No order grouping" on Category "All"

![image](https://user-images.githubusercontent.com/2255433/92949878-15e94880-f45c-11ea-9ab6-95fcb00a8f41.png)

Create two prod

[2020-09-11 16:35] tarbib commented on #975
@Tardo
Hello! First thanks a lot for the migration of this module.
I have this issue with no grouping setting at the moment.
Any idea on how to fix it?
Thanks

[2020-09-11 16:53] pedrobaeza commented on #975
Are you sure the problem is with this module? What happen in a vanilla Odoo? Are you able to reproduce the problem in the demo runbot instance provided for the module?

[2020-09-14 07:13] tarbib commented on #975
@pedrobaeza
Hello Pedro, yes I am sure. When I try on a vanialla Odoo or use "standard grouping" option on OCA runbot then it will create two POs. My screenshots are taken from the demo runbot instance provided for the module.

[2020-09-15 07:48] tarbib commented on #975
Hello @pedrobaeza
In order to make 100% sure, I deployed an odoo.sh instance with only procurement_purchase_no_grouping as OCA module installed. Result is the same.
You can see my test [here](https://slack-files.com/T3WUKRESJ-F01B28B5UUR-6f66707d49).
Thanks

[2020-09-15 07:49] pedrobaeza commented on #975
Yes, I can confirm the problem. I'm analyzing now.

[2020-09-15 08:37] pedrobaeza commented on #975
Fixed in 8d36751

[2020-09-15 08:37] #975 closed, assigned to nobody

[2020-09-22 09:34] tarbib commented on #975
Hello @pedrobaeza
I tested another configuration, and I am wondering if the result is really the intended result.
I have set Vendor 1 to both Memo 1 and Memo 2 products.
We get two different RFQ for the same vendor. One for the product Memo 1 and one for the product Memo 2.
So Odoo creates one RFQ per procurement line even though it's for the same supplier.
https://slack-files.com/T3WUKRESJ-F01B1R

[2020-10-02 12:27] alessandro-fiorino opened #986 "[13.0] button_dismiss in purchase_request_tier_validation/views/purchase_request_view.xml ?"
Near the end purchase_request_tier_validation/views/purchase_request_view.xml there is the definition of a button

<footer>
<button name="dismiss_popup" type="object" string="Dismiss" class="oe_highlight"/>
</footer>

But I don't find the definition of a dismiss_popup method anywhere in tier modules or purchase request modules.

[2020-10-02 20:57] luisbernalgms commented on #918
Hello @uncle-buzz

I have a similiar problem. Did you solve it?

[2020-10-04 10:33] OCA-git-bot opened #988 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [ ] procurement_purchase_no_grouping
- [x] product_form_purchase_link - By @flook-chaiwat #1099
- [x] purchase_allowed_product - By @victoralmau - #1504
- [ ] purchase_blanket_order
- [x] purchase_commercial_partner - By @newtratip #1010
- [x] purchase_delivery_split_date - By @SurachetS #1028
-

[2020-10-06 17:59] qzmxs opened #990 "[13.0]purchase_blanket_order Add product in editing state, report error"
After confirmation->Cancel->Draft->Add product in editing state, report error

[2020-10-06 18:08] qzmxs commented on #990
![image](https://user-images.githubusercontent.com/55458897/95241860-f964e400-0840-11eb-8ae0-11954cdc8539.png)
![image](https://user-images.githubusercontent.com/55458897/95241965-23b6a180-0841-11eb-9acf-4de03b8f80fc.png)
![image](https://user-images.githubusercontent.com/55458897/95242071-43e66080-0841-11eb-8e2c-a58b4f4843bf.png)
![image](https://user-images.githubusercontent.com/55458897/9524217

[2020-10-06 18:10] qzmxs commented on #990
This problem has been verified repeatedly and the fault remains

[2020-10-09 15:12] kayue opened #993 "[14.0] Purchase Deposit broken in 14"
In Odoo 14, the Purchase Deposit module is broken due to missing access right `ir.model.access`.

[code]

![P00044__INV_50962-Consignment__-_Odoo](https://user-images.githubusercontent.com/193112/95599952-58666b00-0a84-11eb-9679-e8979b2b239f.jpg)

And even I am able to grant myself access, I still run into the following error:

[code]

[code]

[2020-10-09 15:15] pedrobaeza commented on #993
Which module? There's nothing migrated to 14.0 in this repo, so I close it.

[2020-10-09 15:15] #993 closed, assigned to nobody

[2020-10-09 15:23] kayue commented on #993
@pedrobaeza purchase_deposit module

Just a quick note. `account_move.type` has now been renamed to `account_move.move_type`.

https://github.com/OCA/purchase-workflow/blob/76bdcff0ada9dbbf9352524f5615e0b7c535af84/purchase_deposit/wizard/purchase_make_invoice_advance.py#L107-L111

[2020-10-09 15:48] legalsylvain commented on #993
@kayue you can not install V13 (V12 ...) modules on V14 instance. Please port the module and make a PR (following [guidelines](https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0)), or pay a partner to do it.

kind regards.

[2020-10-15 11:58] vincent-hatakeyama commented on #850
I think #686 solves that issue.

[2020-10-21 09:10] Saran440 commented on #988
purchase_work_acceptance #1006.

[2020-10-24 09:19] carlosdauden opened #1002 "Add hacktoberfest label to repository"
Since this year the rules to participate in the hacktoberfest have changed:
https://hacktoberfest.digitalocean.com/hacktoberfest-update
It would be nice to add the label to the repositories so that whoever wants to participate can do so without problems.

Many thanks to the PSCs for the work they do selflessly.

[2020-10-24 09:31] legalsylvain commented on #1002
Hi.
1) I don't understand why ? The consequency will be to have noices on our repository. Like bad PR.
2) Please do not open many issues for the same point. It should be talked one time only. (https://github.com/OCA/margin-analysis/issues/86)

[2020-10-26 07:40] kittiu commented on #988
purchase_tier_validation https://github.com/OCA/purchase-workflow/pull/1003

[2020-10-27 10:33] #633 closed, assigned to nobody

[2020-11-04 15:24] phuctranfxvn commented on #755
Done for `purchase_line_procurement_group` in https://github.com/OCA/purchase-workflow/pull/1008

[2020-11-06 13:41] gaikaz commented on #755
Anyone in progress/planning to migrate `purchase_allowed_product`?

[2020-11-08 07:09] yrismawan commented on #918
I think it's already fixed on V.13

[2020-11-11 03:39] newtratip commented on #988
`purchase_commercial_partner` https://github.com/OCA/purchase-workflow/pull/1010

[2020-11-16 09:06] Dariosi commented on #755
Working on purchase_allowed_product #1013

[2020-11-19 01:02] #1002 closed, assigned to nobody

[2020-11-20 10:52] #943 closed, assigned to nobody

[2020-11-26 08:51] kittiu opened #1026 "[14.0][ENH] purchase_deposit, to work with purchase lock."
Thanks to Dominique. I got the enhancement proposal, I will put it here for more discussion if any.

[code]
![image](https://user-images.githubusercontent.com/1973598/100328541-36f31b80-2fff-11eb-8704-96c20428488a.png)

[purchase_deposit.zip](https://github.com/OCA/purchase-workflow/files/5601580/purchase_deposit.zip)

[2020-11-26 08:52] kittiu commented on #1026
@SurachetS @Saran440

[2020-11-27 03:06] SurachetS commented on #1026
@kittiu ok

[2020-11-27 08:51] Vanneri commented on #988
purchase_last_price_info #1031

[2020-11-27 10:43] Vanneri commented on #988
purchase_discount #1033

[2020-12-01 04:16] SurachetS commented on #988
purchase_delivery_split_date #1028

[2020-12-01 04:16] SurachetS commented on #988
purchase_location_by_line #1029

[2020-12-01 04:17] SurachetS commented on #988
purchase_order_approved #1030

[2020-12-01 04:17] SurachetS commented on #988
purchase_order_secondary_unit #1032

[2020-12-01 04:18] SurachetS commented on #988
purchase_order_uninvoiced_amount #1034

[2020-12-02 11:14] HviorForgeFlow commented on #990
Hello @qzmxs ,
I tried to fix it with no success.

I think it is something related with the Add Item button that should be created in the line below the one you recently edit, but just guessing.

Let's see if someone can find a way to fix it

[2020-12-03 16:40] woom-USA opened #1037 "Error if the PO has the same SKU listed twice"
Use Case:
PO Has the same SKU that will shipped in 2 separate containers and each container has a separate schedule date.  I want to list the same SKU twice in the PO indicating the quantity that will be shipped in each container.

When confirming the PO, the following error is generated.

<code>Error:
Odoo Server Error

Traceback (most recent call last):
  File "/home/odoo/src/odoo/odoo/http.py",

[2020-12-08 18:12] woom-USA opened #1039 "Error If PO Has Section Headers"
module: purchase_delivery_split_date
version: 13.0

*** Use Case:  PO has one SKU shipped in multiple containers.  Each container has a different Scheduled Arrival Date

**Steps to reproduce**
Create a RFQ with 2 lines of the Same SKU With different Scheduled Dates.  When you confirm the RFQ, the error given below is generated
![RFQ Screenshot](https://user-images.githubusercontent.com/57964038/10

[2020-12-08 18:12] #1037 closed, assigned to nobody

[2020-12-08 19:01] woom-USA commented on #1039
Apologies,
   The error occurs when Section Headers are added and not if the Same SKU gets listed multiple times in the PO

[2020-12-09 07:38] sergioeix opened #1040 "[13.0] purchase_delivery_split_date crash with notes and sections with corfirmation"
[13.0] Community Ubuntu 18.04
Steps to reproduce on runbot:
Make a purchase order with a note or section save an try to confirm
![image](https://user-images.githubusercontent.com/62206774/101599294-d221c300-39f9-11eb-914e-c1c3e640984a.png)
Fully reproducible on runbot
B/R

[2020-12-17 07:04] PrapassornS commented on #988
purchase_manual_currency #1015

[2020-12-17 09:13] PrapassornS commented on #988
purchase_order_line_deep_sort  #1044

[2020-12-22 12:15] gaikaz opened #1053 "[BUG][13.0] purchase_order_secondary_unit: Error when selecting sec. uom without selected product"
Affected versions: 13.0 (probably others too)
Possibly same issue could happen with Sales adaptation too.

Steps to reproduce:
1. Create a new Purchase Order
2. Select "Add a product"
3. Before selecting product, try selecting the secondary unit

<details>
<summary>Error from Runbot</summary>
[code]
</details>

Video from OCA Runbot:

https://user-images.githubusercontent.com/17097810/102887067-e5

[2021-01-03 10:58] PrapassornS commented on #988
purchase_manual_currency #1015

[2021-01-05 16:57] koenloodts commented on #988
purchase_reception_status [#1059](https://github.com/OCA/purchase-workflow/pull/1059)

[2021-01-14 18:56] HviorForgeFlow opened #1067 "[13.0][TRAVIS ERROR] purchase_manual_currency"
Branch 13.0 travis are failing due to:
[code]

@rousseldenis @pedrobaeza @MiquelRForgeFlow Any advice? assertAlmostEqual() could be an option?

[2021-01-14 18:56] HviorForgeFlow opened #1068 "[13.0][TRAVIS ERROR] purchase_manual_currency"
Branch 13.0 travis are failing due to:
[code]

@rousseldenis @pedrobaeza @MiquelRForgeFlow Any advice? assertAlmostEqual() could be an option?

[2021-01-14 18:57] #1067 closed, assigned to nobody

[2021-01-14 19:00] pedrobaeza commented on #1068
Yes, absolutely. Use always `assertAlmostEqual` for float comparisons.

[2021-01-15 05:50] HviorForgeFlow commented on #1068
https://github.com/OCA/purchase-workflow/pull/1069

[2021-01-15 07:32] #1068 closed, assigned to nobody

[2021-01-19 02:46] kittiu opened #1073 "Purchase Request (purchase_request) is assigned doc sequence on "New" and not on "Saved", should we change it?"
This is always a doubt to me, when some document (also expense in the past) assign sequence this way. Because, the number will be skipped easily without intention.

Should we enhance the module so that, the number is assigned on first "Saved"

@HviorForgeFlow WDYT?

[2021-01-19 03:53] kittiu commented on #1053
Fixed here, https://github.com/OCA/purchase-workflow/pull/1074
Please review.

[2021-01-20 07:08] #1053 closed, assigned to nobody

[2021-01-20 17:20] #971 closed, assigned to nobody

[2021-01-25 07:01] yostashiro opened #1083 "[12.0] purchase_allowed_product: client error when clicking the product in invoice line modal"
How to reproduce:

1. Install purchase_allowed_product
2. Open a customer invoice
3. Click a line to open the modal, and then click on the product

[code]

The issue is only on the customer invoice. Vendor bills are fine.

[2021-01-25 15:36] HviorForgeFlow commented on #1083
Tested locally installing purchase_allowed_product module + Invoice app and it is not failing. There must be another module that is triggering this error.

[2021-01-25 16:20] pedrobaeza commented on #975
@tarbib I think the patch from #1080 (which is for 12.0, but it will be applied on 13.0), fixes your problem.

[2021-01-26 17:26] tarbib commented on #975
@pedrobaeza thanks Pedro for the followup!

[2021-01-27 01:49] #1083 closed, assigned to nobody

[2021-02-03 11:45] jonerikceberio opened #1087 "[12.0] possible future issue in purchase_tier_validation"
This is NOT yet an issue, but bear with me here. I sent an issue to odoo (https://github.com/odoo/odoo/issues/65449) about the order of inheritance in purchase.order. Long story short: the portal.mixin is ignored in purchases.
IF (big if) they correct this (and copy the inheritance order in sale.order), the purchase_tier_validation will fail as in the issue for sale_tier_validation: https://github

[2021-02-06 06:54] mmarcot opened #1094 "[14.0] purchase_location_by_line : Too many receipts are created"
Hello,

When confirming a RfQ having lines with destination location not sorted, it results in too many receipts created.

**Use case:**
- create new RfQ
- add line 1 with destination location WH/Stock
- add line 2 with destination location WH/Stock/Shelf 1
- add line 3 with destination location WH/Stock
- add line 4 with destination location WH/Stock/Shelf 1
- ensure that all lines have the same

[2021-02-07 14:52] mahmoudmk1 opened #1096 "Operation types supposed to be related to the line location"
module: purchase_location_by_line
version: 12.0

**Current behavior**
The operation type is the same for all locations assigned in purchase order lines. Despite I choose more than location -> the transfer type was the same for all locations???
**Expected behavior**
the operation type & the transfer reference should be also based on the locations.

[2021-02-09 17:13] Alliasys opened #1101 "[14.0] purchase_discount : Error when creating invoice from PO if module is installed"
Odoo Server Error

Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/addons/base/models/ir_http.py", line 237, in _dispatch
    result = request.dispatch()
  File "/odoo/odoo-server/odoo/http.py", line 683, in dispatch
    result = self._call_function(**self.params)
  File "/odoo/odoo-server/odoo/http.py", line 359, in _call_function
    return checked_call(self.db, *args, **kwargs

[2021-02-09 20:59] bodedra commented on #1101
I can not reproduce it on runbot. It seems issue come from other custom module.

Here is my test:

- Supplier discount configuration on product level

![Screenshot from 2021-02-09 13-54-38](https://user-images.githubusercontent.com/14229503/107427571-ce381d00-6ade-11eb-9056-4f943774c9da.png)

- Created PO and received it.

![Screenshot from 2021-02-09 13-53-20](https://user-images.githubuserconten

[2021-02-09 21:04] #1101 closed, assigned to nobody

[2021-02-09 22:09] sergioeix opened #1102 "[13.0] purchase_product_usage dont allow to set account_id on account entries"
Once installed you are not able to set an account in accounrt entries or any other model with this many2one field account_id.

Steps to reproduce:

1 make an entry to miscelaneous journal
2 add a line
3 try to select an account on account_id many2one field, here you cant add any account field always remain empty
Spected behaior:

set an account as normal flow

Once module uninstall you are allowed

[2021-02-11 08:12] MartinAavastik opened #1106 "[14.0] purchase_delivery_split_date: Error when PO has Sections or Notes"
Related to V13
#1040
#1039

There is already pullrequest for v13
https://github.com/OCA/purchase-workflow/pull/1090

[2021-02-11 09:43] Alliasys opened #1107 "[14.0] purchase_discount : Error when creating invoice from PO if module is installed (continued)"
Sorry, but we still have the invoice problem with the purchase_discount module. Here are some screen shots that explain our problem with more details. we use the Odoo demo database. You can see in the modules list below that we only use Odoo SA or OCA modules.

Create a PO:
![Image 001](https://user-images.githubusercontent.com/47659262/107619888-25133300-6c54-11eb-9df4-00197298238b.jpg)
I try to

[2021-02-11 18:02] #1107 closed, assigned to nobody

[2021-02-12 11:08] mmarcot commented on #1040
Same issue #1039

[2021-02-12 16:36] #1040 closed, assigned to nobody

[2021-02-12 16:36] #1106 closed, assigned to nobody

[2021-02-13 08:27] sergioeix opened #1112 "[13.0] purchase_landed_cost show traceback when adding expense line"
I was testing this module and just to report: (tested on runbot)
@pedrobaeza
Steps to reproduce:
1 Create new purchase cost distribuition
2 import incoming shipment
3 add expense line ---> then this traceback its shown, its also shown on invoice_line many2one field
![image](https://user-images.githubusercontent.com/62206774/107845602-e5c41e00-6ddc-11eb-9dbd-f8e81b3ad1b8.png)
![image](https://user-

[2021-02-17 08:26] #1102 closed, assigned to nobody

[2021-02-17 09:04] HviorForgeFlow commented on #1073
Hello @kittiu, it would be great to select only the sequence when saving the Purchase Request.
:+1:

[2021-02-21 03:02] phuctranfxvn commented on #988
vendor_transport_lead_time  https://github.com/OCA/purchase-workflow/pull/1118

[2021-02-22 08:18] jonerikceberio commented on #1087
Closing as https://github.com/OCA/sale-workflow/pull/1386 solved it by affecting the base tier validation.

[2021-02-22 08:18] #1087 closed, assigned to nobody

[2021-02-23 07:17] kittiu commented on #1073
Hello, I will do the PR for this then. Starting on V14, if you OK.

[2021-02-23 08:43] kittiu commented on #1073
Done here -> https://github.com/OCA/purchase-workflow/pull/1120

[2021-02-26 12:33] HviorForgeFlow commented on #1094
Solved so closing

[2021-02-26 12:33] #1094 closed, assigned to nobody

[2021-02-26 12:34] #1039 closed, assigned to nobody

[2021-03-01 11:15] hippe-67 opened #1127 "Procured purchase grouping"
I have a KIT type product
There in two components inside KIT
Component-1 (Purchase from MyVendor#1)
Component-2 (Purchase from MyVendor#2)

Product category -> Procured purchase grouping | No order grouping

These both component goes to same PO. with one vendor.

When we use Standard grouping, Components goes correctly vendors

[2021-03-01 11:25] HviorForgeFlow commented on #1127
Provide some more information about Odoo version, module name, I barely understand your issue.

[2021-03-01 11:36] hippe-67 commented on #1127
Sorry:
Modul is this: Procured purchase grouping
version is Odoo-13 E
https://github.com/OCA/purchase-workflow/tree/f8f7448f0a2b24ff8536db2e345a989b0138d932/procurement_purchase_no_grouping

[2021-03-15 09:29] hippe-67 commented on #1127
Has anybody investigate this issue?

[2021-03-15 10:38] pedrocs-exo opened #1143 "[IMP] purchase_request: improved icon"
Now that [creating Odoo icons is a snap](https://github.com/OCA/maintainer-tools/pull/491), the purchase_request module icon could be improved and become more consistent with the other app icons. I can make a PR if the module maintainer so wishes.

[2021-03-23 09:15] HviorForgeFlow opened #1148 "[14.0] Branches broken due to purchase_invoice_plan"
All 14.0 branchs are failing due to a change on the way account move journal are checked: https://github.com/odoo/odoo/commit/fdc96de0e411760f84a78c36543f9157332346de
purchace_invoice_plan test smust be adapted to point a journal of type 'purchase'  in order to avoid Validation Error constraint.

CC @kittiu

[2021-03-26 01:35] #1073 closed, assigned to nobody

[2021-04-09 05:22] #1148 closed, assigned to nobody

[2021-04-10 16:41] Hermut opened #1155 "KeyError: 'product_tmpl_id'"
Our app have conflict with purchase_discount module.

The method 'create' rewritten for the model 'product.supplierinfo' in that module considers that the field 'product_tmpl_id' is always in received values, while our app supports values without that parameter. Actually, it also seems that this line is also not used (it is fully redefined 2 lines below without a use). At least, a good practice is

[2021-04-10 17:22] pedrobaeza commented on #1155
You can propose a PR solving the incompatibility without losing any feature.

[2021-04-12 12:55] Hermut commented on #1155
/models/product_supplierinfo.py line 31

---     product_tmpl_id = vals["product_tmpl_id"]
+++  product_tmpl_id = vals.get("product_tmpl_id")

[2021-04-23 05:40] HviorForgeFlow commented on #1155
Go ahead with this proposal with a PR

:crossed_swords:

[2021-04-23 09:19] HviorForgeFlow commented on #1155
ping @Hermut

[2021-04-27 09:16] Zar-SW commented on #1155
I`ve created a PR with a fix.
https://github.com/OCA/purchase-workflow/pull/1161

[2021-04-30 07:27] kittiu opened #1167 "Module purchase_request_to_requisition in need."
Hi @HviorForgeFlow
cc @ForgeFlow
Ref: https://github.com/OCA/purchase-workflow/pull/779#issuecomment-549769633

We was trying to avoid using this module purchase_request_to_requisition as I think it could be a bit tricky to do. But it seem that we can't avoid it in our process.

I will go ahead to try migrate purchase_request_to_requisition into in V14.

Anything to add?
Thanks!

[2021-05-01 05:24] kittiu commented on #1143
Would be nice. I think PR is a good separated module altogether.

[2021-05-01 12:08] kittiu commented on #1167
Ref: https://github.com/OCA/purchase-workflow/pull/1169

[2021-05-05 15:18] #1167 closed, assigned to nobody

[2021-05-31 15:31] daylinglez commented on #988
purchase_reception_notify #1174 is merged

[2021-05-31 15:43] daylinglez commented on #988
purchase_request_department #1181

[2021-06-08 15:55] leonhandreke opened #1199 "[12.0] product_supplier_code_purchase: Doesn't work when purchase.order.line is created by reordering rule"
I'm not familiar enough with odoo to really grasp the issue here, but switching away from `@onchange` and instead making `product_supplier_code` a computed field seems to help. See https://github.com/SuperCoopBerlin/purchase-workflow/commit/0465f8e6a3a08aeb7e306abbe0e7fbc623126a31 for the fix we have running in our system.

@legalsylvain mentions in https://github.com/OCA/purchase-workflow/pull/83

[2021-06-12 11:10] azmykn opened #1203 "purchase_manual_currency new rate not efficted on vindor bill"
After i added a custom rate  and try to issue vendor bill , system calculate using regular rate not custom rate .

[2021-06-16 08:52] fredzamoabg opened #1205 "Propose to add product.customerinfo to purchase order"
This issue propose to add a new addon to the **product_supplierinfo_for_customer** family in order to include **product_customer_code** in purchase order

[2021-06-21 14:04] Rad0van opened #1209 "[13.0][BUG?] procurement_purchase_no_grouping: missing option?"
Not sure if I get this right. In this module I am missing another option (or at least I cannot get it to work that way). Let's assume this scenario:
1. I create SO1 with 3 Products P1(Supplier 1), P2(Supplier 1), P3(Supplier 2).
2. When I confirm I expect 2 PO to be created: PO1(Supplier 1)=[P1, P2] and PO2(Supplier 2)=[P3]
3. I create SO2 with the same content as SO1.
4. When I confirm it I'd exp

[2021-06-21 14:48] pedrobaeza commented on #1209
That option is not covered right now. Analytic is taken intentionally for not grouping lines.

[2021-06-21 15:10] Rad0van commented on #1209
Thanks for quick answer. Will try to implement the required code.

[2021-06-22 13:30] Rad0van commented on #1209
Implemented (hopefully) in #1211

[2021-06-22 13:30] #1209 closed, assigned to nobody

[2021-06-28 07:04] inventaindia opened #1217 "Error in installing the podule purchase_tier-validation"
module: purchase_tier_validation
version: 14.0

**Steps to reproduce**
- ...

**Current behavior**

**Expected behavior**

[2021-06-28 07:04] inventaindia commented on #1217
Error:

Traceback:
Error: QWeb2: Template 'tier.review.Collapse' not found
    at Object.exception (http://sap.inventa.in:8069/web/content/15746-7d69966/web.assets_common.js:4384:7)
    at Engine._render (http://sap.inventa.in:8069/web/content/15746-7d69966/web.assets_common.js:4429:103)
    at Engine.render (http://sap.inventa.in:8069/web/content/15746-7d69966/web.assets_common.js:4425:151)
    a

[2021-06-28 07:25] legalsylvain commented on #1217
nice issue title ! ;-)

[2021-06-30 12:15] azmykn opened #1221 "purchase_order_line_price_history working with random product"
I have purchase order with two products ,

this module show history data for one of them and the other not ??
any idea  !

[2021-07-01 14:04] pedrobaeza commented on #1155
Finally fixed in #1222

[2021-07-01 14:04] #1155 closed, assigned to nobody

[2021-07-04 17:28] Mat-moran opened #1224 "[14.0][purchase_order_uninvoiced_amount --> ERROR with notes or sections in PO]"
Hi,

the purchase_order_uninvoiced_amount is incompatible with notes or sections in purchases orders.

Reviewing the code I noted that there is not distintion by line type when the `amount_uninvoiced` is calculated and when iterate over a line that is a note or a section it crash.

Which is the best approach to fix that, a filter before start to iterate over the `order.order_line` or another condi

[2021-08-22 14:32] bmessiaz opened #1248 "Error using OCA / purchase-workflow - Purchase landed costs - Alternative option"
Hi guys,

             I´m trying to use this alternative option, howerver I found out the following error.
             Could you please provide me with a full documentation/Manual?

             Seems to be  GREAT MODULE, but I need to test it out in order to confirm my first impression.

            Thanks in advance for all help.

            Kind regards,

ERROR WHEN I TRY TO CLICK ON SUPPLIE

[2021-08-23 16:58] pedrobaeza commented on #1248
Fixed in 829f7db30690fb38e40a0ce01b98292ae2e23496

Thanks for reporting.

[2021-08-23 16:58] #1248 closed, assigned to nobody

[2021-08-26 19:55] bmessiaz opened #1252 "[12} bug supplier Invoice line is bringing wrong selection field to choose."
Hello Mr @pedrobaeza

 I´m testing here the module and found out some issues, perhaps it be my wrong usage ok?

Anyway, please check my remarked items in the images below.

Any doubt, please let me know.

Thanks in advance for your help.

Kind regards.

@bmessiaz

![image](https://user-images.githubusercontent.com/44352660/131025329-e710ef9c-5fa0-4df9-9ffc-03b456df95ee.png)

![image](https://user-

[2021-08-26 20:26] pedrobaeza commented on #1252
Cost update is not yet implemented

[2021-09-01 10:45] kv1612 commented on #988
purchase_propagate_qty: [#1255](https://github.com/OCA/purchase-workflow/pull/1255)

[2021-09-03 20:43] mmena9 opened #1258 "Troubles with the resize of the Form (no vertical scrolling)"
module: purchase_request
version: 13.0

**Steps to reproduce**
Purchase Request/Create new PR/Add line

**Current behavior**
The buttons at the bottom of the form are missing, the vertical scroll its not visible so you cant register new lines, unless you zoom out the screen (responsive resize of the form its not working).

![image (1)](https://user-images.githubusercontent.com/82405673/132063084-2

[2021-09-07 20:01] #1258 closed, assigned to nobody

[2021-09-07 20:02] mmena9 commented on #1258
This issue (apparently) has nothing to do with the module, its come from a different source

[2021-09-10 08:39] sergioeix commented on #1112
solved on last module update

[2021-09-10 08:39] #1112 closed, assigned to ernestotejeda

[2021-09-22 12:43] bunhin opened #1271 "[V13] Purchase Request - PR Line Merged with wrong total quantity when Create the RFQ (Question)"
Just a question for now, if we have a PR with a product item exist in 2 PR Lines or more with each line quantity, when we create RFQ (both from PR Form or from Purchase Request Lines of Purchase Order App), current behavior is as below:

1. If RFQ created from PR form, Only a line of the product exist in resulted RFQ, but the quantity is only quantity from a PR Line
2. If RFQ created from selected

[2021-10-06 07:58] cramos84 commented on #1271
Encountered the same problem. When it has 2 equal lines, it fails to pass the amounts.

But if we add the quantity and add it to the current quantity of the generated purchase order then increase more.

In my example I put 5 and 10 quantities of the same product. When placing the order it says 10. But if I add the amount of the current line + the amount of the previous line it gives me 25

[2021-10-06 08:59] cramos84 commented on #1271
I have found the reason for the failure. In the _calc_new_qty method, he checks if that line of the purchase request has already created an order line, and if he finds it, he performs the following loops

`            for prl in po_line.purchase_request_lines:
                for alloc in prl.purchase_request_allocation_ids:
                    rl_qty + = alloc.product_uom_id._compute_quantity (

[2021-10-07 16:27] R2GTX commented on #1271
@cramos84 thank you, you saved my day

[2021-10-17 10:20] OCA-git-bot opened #1280 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [ ] procurement_batch_generator
- [x] procurement_purchase_no_grouping - By @cesar-tecnativa - #1526
- [x] procurement_purchase_sale_no_grouping - By @cesar-tecnativa - #1527
- [ ] product_form_purchase_link
- [x] purchase_allowed_product - By @manuelregidor - #1725
- [ ] purchase_cancel_reason

[2021-10-22 08:26] sonhd91 commented on #988
purchase_incoterm [#1286 ](https://github.com/OCA/purchase-workflow/pull/1286)

[2021-10-27 17:07] Marcos-Rdz opened #1295 "Customer currency not used"
My main currency is MXN but I have a customer where I have configured the **Supplier Currency** field as USD, also my product have a Vendor price in USD.

When I create a PO and select this vendor the PO automatically switch to USD but when I create and then convert a Purchase Request into a RFQ, the PO is created in MXN

The price is correctly converted to MXN given the current rate conversion bu

[2021-11-16 14:49] maciej-wichowski opened #1301 "[13.0] purchase_line_procurement_group - test is failing"
## Module
purchase_line_procurement_group

## Describe the bug
Hello, I was preparing to migrate this module to 14.0, but I noticed, that on 13.0 the test is failing:
[code]
If I understand the test correctly, shouldn't it create one PO line of 50, as the procurement rule forces one procurement group?

Also, it's quite unclear for me on why test case covers such complex case, and there is no test

[2021-11-16 14:51] pedrobaeza commented on #1301
@grindtildeath @kittiu can you please check?

[2021-11-17 23:07] moaadbourhim commented on #1280
purchase_discount #1304
@pedrobaeza Can you Please review this PR

[2021-11-28 12:20] #193 closed, assigned to nobody

[2021-11-28 12:20] #194 closed, assigned to nobody

[2021-12-02 00:29] hitrosol opened #1308 "Can't approve the Purchase Request eventhough all the tier validation already validated"
## Module
purchase_request_tier_validation

## Describe the bug
The flow in V14 is quite different with V13.
In V14, there is no Confirm button after request the validation, therefore one can't confirm the Purchase Request even though it has been validated by tier validation.

## To Reproduce
V14

Steps to reproduce the behavior:
1. Install the purchase_request_tier_validation
2. set the tier vali

[2021-12-02 16:19] dreispt opened #1310 "purchase_order_supplierinfo_update: should it rather be working at the Vendor Bill level?"
**Is your feature request related to a problem?**

AFAICT the expected flow is:
1. Purchases create the PO. Prices will be set automatically from the known supplier pricelists.
2. Accounting receives the invoice from the supplier. Then createds the Odoo Vendor Bill using the button on the PO. The prices in the Vendor Bill are copied from the PO.
3. Accounting compares the expected prices, already

[2021-12-02 16:23] dreispt commented on #1310
@pedrobaeza Your thoughts on this would appreciated, thanks!

[2021-12-02 16:48] legalsylvain commented on #1310
@dreispt this module exists. See account_invoice_supplierinfo_update. (And co)
It is complementary.
Kind regards.

[2021-12-02 18:10] dreispt commented on #1310
Right @legalsylvain, it is here: https://odoo-community.org/shop/product/account-invoice-supplier-info-update-313
I guess I didn't look into the right branches, thank you.

[2021-12-02 18:10] #1310 closed, assigned to nobody

[2021-12-02 18:14] pedrobaeza commented on #1310
By our part, to comment that conceptually this module makes the thing "symmetric", as if the creation of the record is done when confirming the purchase order, the update is done on the same place. Anyways, it was our customer requirement, so that was the main reason, hehe.

[2021-12-02 18:46] legalsylvain commented on #1310
By our part,we need both.
-> on account invoice, because when we receive the supplier invoice, we want to update the supplier info, if price changed
-> on purchase order, because sometime, the invoice is send some days after the good (or at the end of the month, ...) and we have to update the supplier info before receiving the invoice (and as @pedrobaeza said, to be consistent. For the time being,

[2021-12-02 18:47] pedrobaeza commented on #1310
Agreed on both statements.

[2021-12-03 12:43] vvrossem commented on #755
Working on `product_supplier_code_purchase` #1311

[2021-12-05 16:20] moaadbourhim commented on #1280
purchase_order_approved #1312
@pedrobaeza  Can you Please review this PR

[2021-12-09 19:21] bruno-zanotti commented on #755
Working on `purchase_request_to_requisition` https://github.com/OCA/purchase-workflow/pull/1315

[2021-12-18 03:59] hitrosol commented on #1308
Hi @kittiu, I try the module before the commit at  https://github.com/OCA/purchase-workflow/commit/77db8b614cdddad20b7d7b1a1469b721a20203cc#diff-0128e96626da93b08c70ac85a5dbd4c64d081285f0a50f921aa87b07e4d2a4aa

and it works as expected.
![image](https://user-images.githubusercontent.com/5949936/146628136-1636e3a5-2878-48f8-9c92-8a457e82d604.png)

But maybe i missed somethings, the reason you added

[2021-12-26 12:45] legalsylvain commented on #298
Done in recent version.

[2021-12-26 12:45] #298 closed, assigned to nobody

[2021-12-27 02:59] sonhd91 commented on #988
`purchase_analytic_global` : [PR#1321](https://github.com/OCA/purchase-workflow/pull/1321)

[2022-01-10 14:14] carmenbianca opened #1331 "Installation of purchase_order_line_sequence impossible on big database"
## Module

purchase_order_line_sequence, probably stock_picking_line_sequence by extension.

## Describe the bug

On a database with upwards of 300,000 rows in `purchase_order_line` and `stock_picking` each, the installation of purchase_order_line_sequence is incredibly slow and memory-hungry. It took a decently powerful desktop computer 3 hours of installation before it ran out of memory (12GB li

[2022-01-10 14:20] legalsylvain commented on #1331
I had the same problem on my odoo instance :
- purchase.order.line quantity : 1.115.664
- stock.move quantity : 16.203.118

regards.

I think that adding a pre-install hook could solve the problem.

[2022-01-12 02:21] kittiu commented on #1308
OK, I just saw this issue. Looks like the following view change still needed for v14.
[code]

[2022-01-12 02:22] kittiu commented on #1308
OK, I just saw this issue. Looks like the following view change still needed for v14.
[code]

[2022-01-12 02:48] kittiu commented on #1308
Fixed here. Can you review please. Thanks.
https://github.com/OCA/purchase-workflow/pull/1332

[2022-01-13 19:33] matiasperalta1 commented on #988
purchase_requisition_line_description https://github.com/OCA/purchase-workflow/pull/1333

[2022-01-14 10:06] imrantechexpert opened #1334 "Wrong RFQ quantities created from Purchase Request Lines"
## Purchase Request

## Describe the bug
Hi, When creating RFQ from multiple Purchase Request Lines with products with different quantities then RFQ quantity may different.  Let created Purchase request 1 with quantity 20 and Purchase request 2 with quantity 30 then module created RFQ quantity 40 instead of 50

## To Reproduce
odoo 14 community

[2022-01-16 12:22] #255 closed, assigned to nobody

[2022-01-19 13:21] PabloPaezSheridan commented on #1280
i am on purchase_request, wish me luck!

[2022-01-19 13:52] emagdalenaC2i commented on #1280
@PabloPaezSheridan see https://github.com/OCA/purchase-workflow/pull/1292

[2022-01-23 12:20] #275 closed, assigned to nobody

[2022-01-23 12:20] #279 closed, assigned to nobody

[2022-01-30 12:19] #283 closed, assigned to nobody

[2022-02-02 18:09] matiasperalta1 commented on #988
purchase_order_line_description https://github.com/OCA/purchase-workflow/pull/1349

[2022-02-06 12:19] #327 closed, assigned to sbidoul, JordiBForgeFlow

[2022-02-09 13:37] saxomanu commented on #1280
purchase_reception_status  #1355

[2022-02-11 10:04] rauferdeveloper commented on #1280
I'm with the purchase_delivery_split_date module, go for it!.

[2022-02-20 12:20] #333 closed, assigned to nobody

[2022-02-24 10:27] colmeirin opened #1366 "[13.0] purchase_invoice_plan wrong invoice totals and tax amounts"
## Module
[purchase_invoice_plan](https://github.com/OCA/purchase-workflow/tree/13.0/purchase_invoice_plan)

## Describe the bug
The invoice created by an installment of the invoice plan has an invalid total and tax amount and the move is messed up.

## To Reproduce
**Affected versions**: 13.0

Steps to reproduce the behavior:
1. Create PO with 1 service product with default 15% tax on runboat.
2.

[2022-02-24 10:41] colmeirin commented on #1366
I looked further into the matter checking "brother" module sale_invoice_plan from OCA/sale-workflow and seems some code is missing to recompute debir/credit lines amounts after creation. I tested it and works OK now with that. Creating a PR to bring that fix to the module

[2022-02-25 16:45] igallart opened #1369 "[11.0] purchase_discount: price_subtotal is wrong"
Test:

In any purchase, if you have 2 decimals configured in price_unit, it works bad:

Bad result -> 25000 units * 0.27 with 5% discount = 6500

Good result -> 25000 units * 0.27 with 5% -> 6412.5

The problem:

[code]

When is assigned the price to the line, it work with a price that not is correct. The compute_amount has 0.26 instead of 0.2565. The correct is:

25000 * 0.2565 = 6412.5 not 25000

[2022-02-27 12:20] igallart commented on #1369
With this patch it work:

[code]

[2022-02-27 12:21] #344 closed, assigned to nobody

[2022-02-27 12:21] #367 closed, assigned to nobody

[2022-03-06 12:21] #380 closed, assigned to nobody

[2022-03-20 15:16] malachiverdict opened #1385 "?"

[2022-03-21 10:37] vvrossem commented on #1280
purchase_order_line_menu #1386

[2022-03-21 14:23] vvrossem commented on #1280
purchase_order_type #1387

[2022-03-23 08:35] vvrossem commented on #1280
Is `purchase_propagate_qty` still needed ? From what I've functionally tested, Odoo 15.0 now propagates the decreased quantity from a purchase order line to the related transfer

[2022-03-23 11:48] inprbau opened #1389 "[13.0] purchase_last_price_info produce an error printing "Product Label (PDF)""
We have the same error on two types of installations: a multicompany installation and a single company installation when the purchase_last_price_info module is installed.

**_SINGLE COMPANY INSTALLATION_**
Steps to reproduce the behavior:
1. The purchase_last_price_info module is installed
2. We have a product that has not been purchased and the module fields are not filled in
![image](https://use

[2022-03-24 11:52] vvrossem commented on #1280
product_supplier_code_purchase https://github.com/OCA/purchase-workflow/pull/1390

[2022-03-24 20:48] sergioeix opened #1393 "[14] purchase_triple_discount second and triple discount not shown on report"
## Module
purchase_triple_discount

## Describe the bug
Only the first discount is shown on the report

## To Reproduce
**Affected versions**:14

Steps to reproduce the behavior:
1. set first and second discount on a product
2. print the report and you can see only the first discount is shown
3.

**Expected behavior**
first and second and third discount should be shown if set

[2022-03-24 21:05] sergioeix commented on #1393
I solved this adding the xml report file from v13 on v14

[2022-03-24 22:14] legalsylvain commented on #1393
could you make a PR ?

[2022-03-25 08:24] #1385 closed, assigned to nobody

[2022-03-25 08:45] HviorForgeFlow commented on #1389
@inprbau can you reproduce the error in a runboat instance? I couldn't, so maybe some customization is colliding the code. But I don't understand why this error is related with purchase_last_price_info because this module is not integrated with print label reports.

[2022-03-25 10:37] malachiverdict opened #1394 "Watch "GangStarr - Militia Pt. 1,2,3,4" on YouTube"
https://youtu.be/Hdckaytc3GE

[2022-03-25 11:24] sergioeix commented on #1393
Done -> Added missing file report_purchase_order.xml #1395

[2022-03-25 11:49] inprbau commented on #1389
@HviorForgeFlow I can't find the runboat instance related to a purchase-workflow (V.13). Could you tell me a valid access?

[2022-03-25 12:36] HviorForgeFlow commented on #1389
https://runboat.odoo-community.org/webui/builds.html?repo=OCA/purchase-workflow

[2022-03-27 12:22] #413 closed, assigned to nobody

[2022-03-30 21:56] malachiverdict opened #1401 "W"

[2022-03-30 22:02] #1401 closed, assigned to nobody

[2022-04-01 08:50] inprbau commented on #1389
Reproduced the error:
http://oca-purchase-workflow-13-0-5fb568b0cbb2.runboat.odoo-community.org/web/login
I have instaled the app of sales.
Go to a product that no have previous purchases:
![image](https://user-images.githubusercontent.com/50661813/161228781-39e9109f-b428-4ed4-928b-fe87946e90f7.png)
And I try to generat the "product label":
![image](https://user-images.githubusercontent.com/506618

[2022-04-04 22:56] antoniocanovas opened #1406 "[14.0] purchase_last_price_info not working on multi-company environment with shared products"
## Module
purchase_last_price_info

## Describe the bug
On multi-company environment with shared products:
- Buy PRODUCT1 on CompanyA => purchase.line.order belongs to CampanyA
- Go to CompanyB => Inventory => Products (kanban) => Change to tree view (ERROR because last_price_info is listed):

Access Error
Due to security restrictions, you are not allowed to access 'Purchase Order Line' (purchase.

[2022-04-05 09:40] #1394 closed, assigned to nobody

[2022-04-05 09:40] HviorForgeFlow commented on #1308
#1332 merged

[2022-04-05 09:40] #1308 closed, assigned to nobody

[2022-04-06 08:58] inprbau commented on #1389
@HviorForgeFlow sorry, I forgot to mention you in the previous comment

[2022-04-07 15:31] vvrossem commented on #1280
purchase_partner_incoterm https://github.com/OCA/purchase-workflow/pull/1412

[2022-04-10 12:23] #417 closed, assigned to nobody

[2022-04-12 17:38] simplify-m110 opened #1419 "[12.0] purchase_request: field qty_done is not calculating well when flag po_lock on Company is True"
## Module
purchase_request

## Describe the bug
The field qty_done on model purchase.request.line is not calculated well when flag po_lock on Company is set True. This is happen because of the method  _compute_open_product_qty on model purchase.request.allocation which is not calculating the open_product_qty on model purchase.request.allocation if the Purchases order is Locked before the Delivery

[2022-04-13 05:30] StefanRijnhart commented on #1419
Please create a PR onto the most recent version of the module with the `if rec.purchase_state == 'cancel':` variant. On the PR, you might want to mention that the `done` state does not indicate the delivery status, which I think is a logical error.

[2022-04-13 08:39] hitrosol opened #1421 "Field product is not mandatory and the UoM is not filtered by product category of the product"
I try the Purchase Request V14 on runboat and found these cases:

Case 1.
The Product I is not set as mandatory.
The result, after validate the PR, one can't create the RFQ and show this error message
![image](https://user-images.githubusercontent.com/5949936/163133959-24106942-5287-44c5-b3a9-dc07259ae328.png)

This will bring frustrated  of the user since they just know that have to fill the prod

[2022-04-13 08:48] inprbau commented on #1389
@HviorForgeFlow do you need more information?

[2022-04-13 11:18] simplify-m110 commented on #1419
Here is the PR:
https://github.com/OCA/purchase-workflow/pull/1422

[2022-04-13 12:23] JoelZilli commented on #1280
I will migrate purchase_request_department.

[2022-04-13 13:51] JoelZilli commented on #1280
purchase_request_department #1424 https://github.com/OCA/purchase-workflow/pull/1424

[2022-04-17 12:23] #427 closed, assigned to nobody

[2022-04-17 12:23] #429 closed, assigned to nobody

[2022-04-24 12:24] #434 closed, assigned to nobody

[2022-05-01 12:25] #461 closed, assigned to nobody

[2022-05-01 12:25] #464 closed, assigned to nobody

[2022-05-01 12:25] #478 closed, assigned to nobody

[2022-05-03 14:57] JoelZilli commented on #1280
I will migrate purchase_all_shipments.

[2022-05-03 15:25] JoelZilli commented on #1280
purchase_all_shipments https://github.com/OCA/purchase-workflow/pull/1448

[2022-05-04 07:17] yankinmax commented on #1280
`purchase_analytic_global` https://github.com/OCA/purchase-workflow/pull/1449

[2022-05-04 07:53] yankinmax commented on #1280
`purchase_exception` https://github.com/OCA/purchase-workflow/pull/1450

[2022-05-04 14:32] tarbib opened #1452 "14.0 purchase_analytic_global analytic account can be empty on one line"
## Module
purchase_analytic_global

## Describe the bug
After setting an analytic account on the Po, it will set the analytic account on all the lines -> ok
If you remove it on one lie, it will remain filled on the PO level.

## To Reproduce
**Affected versions**: 14.0

Steps to reproduce the behavior:
1. Create a PO
2. Choose an analytic account
3. Remove the analytic account from one of the line

[2022-05-04 14:33] tarbib commented on #1452
Ping @yvaucher @i-vyshnevska 👋

[2022-05-06 08:15] CasVissers-360ERP opened #1456 "[14.0] purchase_location_by_line use operation_type_id of location"
**Is your feature request related to a problem?**
Currently a picking per location is created but the operation type of the main PO location is used.

**Describe the solution you'd like**
Use the in_type_id of the location so the receipt is created in the correct operation type.

**Describe alternatives you've considered**
-

**Additional context**

I got it working by updating _first_picking_copy

[2022-05-06 08:19] CasVissers-360ERP commented on #1456
@mmarcot @SurachetS

[2022-05-09 09:04] francescapenso commented on #1406
i've also found the same issue. Someone is tracking it?

[2022-05-22 12:25] #498 closed, assigned to nobody

[2022-05-22 22:58] ramiadavid commented on #1280
migrating purchase_triple_discount #1437

[2022-05-23 14:34] Olageibol commented on #1280
`purchase_order_type` https://github.com/OCA/purchase-workflow/pull/1472

[2022-06-02 16:22] HviorForgeFlow commented on #1421
@hitrosol could you review this PR that is trying to solve your issues, thanks!

[2022-06-02 16:24] #1419 closed, assigned to nobody

[2022-06-05 12:23] #506 closed, assigned to nobody

[2022-06-05 12:23] #507 closed, assigned to nobody

[2022-06-10 10:21] Olageibol commented on #1280
`purchase_order_archive` https://github.com/OCA/purchase-workflow/pull/1482

[2022-06-12 12:23] #514 closed, assigned to nobody

[2022-06-12 12:23] #515 closed, assigned to nobody

[2022-06-12 12:23] #524 closed, assigned to nobody

[2022-06-13 08:58] Olageibol commented on #1280
I don't see `purchase_force_invoiced` in the task list but could you please add this PR? Thanks!  https://github.com/OCA/purchase-workflow/pull/1485

[2022-06-13 09:14] Olageibol commented on #1280
`purchase_cancel_reason` https://github.com/OCA/purchase-workflow/pull/1486

[2022-06-14 07:35] paugnu opened #1490 "[14.0] Propagate decreased qty to all related operations (stock pickings) in purchase_propagate_qty"
In the module:
purchase_propagate_qty

At this moment, only the first child operation will decrease qty when we decrease quantity in a Purchase. It would be very useful if this decreased qty was also transferred to all related pickings.

* We should be able to choose whether to use transfer the decreased qty when the PO is in draft/purchased (or both)
* We should transfer the decreased qty to all

[2022-06-14 15:10] Olageibol commented on #1280
` purchase_last_price_info` https://github.com/OCA/purchase-workflow/pull/1491

[2022-06-16 20:02] #1406 closed, assigned to nobody

[2022-06-17 08:37] XanderDeMatteis commented on #1280
purchase_tier_validation https://github.com/OCA/purchase-workflow/pull/1493

[2022-06-19 12:25] #536 closed, assigned to nobody

[2022-06-26 12:25] #538 closed, assigned to nobody

[2022-06-28 12:21] yaodongshi opened #1505 "15.0 purchase request Creating requisitions with stock.warehouse.orderpoint replenishment does not take into account demand forecasts"
Install purchase request to create a product, check purchase request, and then create a requirement (production order, or sales issue order). In the inventory module replenishment, if you see the demand with negative forecast, choose to create a purchase requisition. No matter what state the purchase requisition is in, the forecast for replenishment here will not become 0. It will not disappear un

[2022-07-03 12:25] #551 closed, assigned to nobody

[2022-07-07 18:35] emagdalenaC2i opened #1521 "Purchase order rounding error"
## To Reproduce
Invoicing --> Configuration: Set Rounding Method to "Round Globally"

Create the next purchase order:
![PO](https://user-images.githubusercontent.com/24428859/177844488-c74c9347-7834-4f0a-ad7c-d1c19199547e.png)

**Expected behavior**
The purchase order total amount is wrong.

[2022-07-07 18:35] emagdalenaC2i commented on #1521
![PO_1](https://user-images.githubusercontent.com/24428859/177845048-eeaced5f-3d3b-41ec-a0ed-5371434d54b1.png)

[2022-07-08 05:06] saxomanu opened #1522 "[15.0] purchase_receipt_expectation_manual - bug with procurements"
purchase_receipt_expectation_manual

When you have reordering rule for a product and confirmed PO in manuel receive mode without stock picking generated, a new PO is created when the resplanishement scheduler run

## To Reproduce

**Affected versions**: 15

Steps to reproduce the behavior:

1. Create Reordering rule for a product
2. Make sale order with this product
3. A new Purchase order is crea

[2022-07-08 05:22] saxomanu commented on #1522
@silvioc2c

[2022-07-08 05:29] SilvioC2C commented on #1522
@saxomanu thanks for signalling this issue. I'll try to take a look at it as soon as possible, if noone tackles it before.

[2022-07-17 12:49] #623 closed, assigned to nobody

[2022-07-24 12:27] #558 closed, assigned to nobody

[2022-07-24 12:27] #561 closed, assigned to nobody

[2022-07-24 12:27] #568 closed, assigned to nobody

[2022-07-31 05:43] saxomanu opened #1534 "[15.0] purchase_receipt_expectation_manual - bug with delivery backorder"
## Module
purchase_receipt_expectation_manual

## Describe the bug
When a sale order is created with MTO rule, Purchase order is created.
If you done a partial manual receipt on incoming move, you can do a partial delivery for this SO.
So you can do a backorder for this delivery.
But the backorder is link to partial incoming move (already served) an still get a "waiting" status

## To Reproduce
**

[2022-07-31 05:43] saxomanu commented on #1534
@SilvioC2C

[2022-07-31 12:27] #576 closed, assigned to nobody

[2022-08-01 10:47] pedroguirao opened #1536 "[14.0] purchase_discount - crash at cofirm purchase order (maximum recursion depth exceeded)"
purchase_discount

## Describe the bug
When a purchase order with discount is confirmed the server gives an error:

Traceback (most recent call last):
  File "/opt/odoo/odoo/odoo/http.py", line 639, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/odoo/odoo/http.py", line 315, in _handle_exception
    raise exception.with_traceback(None) from